page-onboarding {
    h1{
        color: white;
    }

    .slide1{
        background: url("../assets/img/onboarding/slice1.jpg") no-repeat 50% 50%/cover;
    }

    .slide2{
        background: url("../assets/img/onboarding/slice2.jpg") no-repeat 50% 50%/cover;
    }

    .slide3{
        background: url("../assets/img/onboarding/slice3.jpg") no-repeat 50% 50%/cover;
    }

    .title-big-sign{
        color: #fff;
        margin-bottom: 1vw;
    }

    .skip{
        position: fixed;
        color: #fff;
        bottom: 3%;
        right: 1%;
        z-index: 1111;
        background: transparent;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 80px;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }

    .swiper-pagination-bullet{
        background: #ffffff;
    }

    .slide-title-img{
        height: 11vw;
        margin-bottom: 2vh;
        margin-top: 7vh;
        background: url(../assets/img/logo_intro.svg) no-repeat 50% 50%/contain;
    }

    .footer{
        opacity: 0.5;
    }

    .scroll-content {
        overflow-y: hidden !important;
        background-color: #f48c31;
    }

    .footer.footer-ios {
        padding-left: 13.5vw;
        padding-right: 13.5vw;
        padding-bottom: 7vw;
    }

    .business {
        margin-top: 2.3vw;
        letter-spacing: 1.2vw;
        text-align: center;
        padding-left: 6%;
    }

    .onboarding-desc{
        padding-left: 5%;
        padding-right: 5%;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        bottom: 5vh;
    }

    .pic{
        height: 48vh;
        width: 100%;
    }

    .slide1 .pic{
        background: url("../assets/img/onboarding/pic1.png") no-repeat 100% 50%/95% auto;
    }

    .slide2 .pic{
        background: url("../assets/img/onboarding/pic2.png") no-repeat 50% 50%/90% auto;
    }

    .slide3 .pic{
        background: url("../assets/img/onboarding/pic3.png") no-repeat 50% 50%/100% auto;
    }

    .swiper-slide{
        display: block;
    }

    .skip{
        position: absolute;
        bottom: 5.4vh;
        right: 5%;
        height: auto;
        display: inline;
    }

    .title-big-sign {
        font-style: normal;
        font-weight: 600;
        line-height: 1.7;
        font-size: 5.5vw;
        color: #fff;
        font-family: 'OpenSansNauLight';
        padding-left: 5%;
        padding-right: 5%;
    }

    .swiper-pagination-bullet {
        width: 1.5vh;
        height: 1.5vh;
    }
}

.iphonex.platform-ios page-onboarding {
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
        bottom: calc(constant(safe-area-inset-bottom) + 23vw);
        bottom: calc(env(safe-area-inset-bottom) + 23vw);
    }
}
