page-start {
    .logo {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        background: url('../assets/img/logo_start.png') no-repeat center center;
        background-size: 100%;        
        
    }
}