page-login {
  .header{
    box-shadow: none;
  }

    .temporary {
        border: 1px solid red;
        p {
            color: red;
            font-size: 10px;
            text-align: center;
        }
    }

    .select-ios .select-icon .select-icon-inner{
        background: url(../assets/img/sign_up/arrow_down.svg) no-repeat center center;
        color: transparent;
        width: 4vw;
        height: 2vw;
        background-size: 100%;
        margin: 0;
        border: none;
        left: 1vw;
        top: 2vw;
    }

    .select-ios .select-icon {
        position: relative;
        width: inherit;
    }

    .tel .text-input-ios {
        padding: 0 6vw 0 3vw;
    }

    .otp{
        padding-left: 7vw;
    }

    .btn_social .button{
        width: 10vw;
        height: 10vw;
        padding: 2vw;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    }

    a {
        color: #000;
    }

    .lbl-edit{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 111;
        height: 100%;
        display: flex;
        margin-right: 6vw;
        pointer-events: none;
        font-size: 2vw;
        padding-top: 0.7vw;
    }

    .lbl-edit span{
        margin: auto;
    }
}
