page-login {
  .header{
    box-shadow: none;
  }

    .temporary {
        border: 1px solid red;
        p {
            color: red;
            font-size: 10px;
            text-align: center;
        }
    }

    .select-ios .select-icon .select-icon-inner{
        background: url(../assets/img/sign_up/arrow_down.svg) no-repeat center center;
        color: transparent;
        width: 4vw;
        height: 2vw;
        background-size: 100%;
        margin: 0;
        border: none;
        left: 1vw;
        top: 1.5vw;
    }

    .select-ios .select-icon {
        position: relative;
        width: inherit;
        height: inherit;
    }

  .footer.footer-ios{
    min-height: inherit;
  }

    .tel .text-input-ios {
        padding: 0 6vw 0 3vw;
    }

    .otp{
        padding-left: 7vw;
    }
}
