<ion-header>
    <ion-navbar #navbar>
    </ion-navbar>
</ion-header>

<ion-content class="padding-sign">
    <div (tap)="toggleMode()" class="logo">
    </div>
    <div text-center class="title-big-sign">{{ 'PAGE_LOGIN.LOGIN' | translate }}</div>
    <div *ngIf="!isVisibleLoginButton" text-center class="margin-top-6vw font-75 text-4F4F4F">
        {{ 'PAGE_LOGIN.PLEASE_ENTER_PHONE' | translate }}
    </div>
    <div *ngIf="isVisibleLoginButton" text-center class="margin-top-6vw font-75 text-4F4F4F">
        {{ 'PAGE_LOGIN.PLEASE_ENTER_OTP' | translate }}
    </div>

    <form
        #form="ngForm"
        (ngSubmit)="(form.valid && isVisibleLoginButton) ? login() : (form.valid && !isVisibleLoginButton) ? getOtp() : undefined">
    <div *ngIf="!isVisibleLoginButton" class="bg-gray margin-top-6vw">
    <ion-item class="border-bottom-no">
        <ion-select
            #codeSelect
            [(ngModel)]="numCode"
            (click)="onSelectClicked(codeSelect)"
            [ngModelOptions]="{standalone: true}"
            interface="alert"
            okText="Ok"
            [selectOptions]="{cssClass: 'alert-full-no-button'}"
            [selectedText]="numCode?.dial_code">
            <ion-option
                *ngFor="let phoneCode of phoneCodes "
                [value]="phoneCode">
                {{ phoneCode.dial_code }} {{ phoneCode.name }}
            </ion-option>
        </ion-select>
        <ion-input
            (ionChange)="limitStr(authData.phone, 14)"
            (keyup)="updateList($event)"
            [(ngModel)]="authData.phone"
            required
            ngControl="phone"
            name="phone"
            [minlength]="7"
            class="tel"
            type="number"
            pattern="[0-9]*"
            placeholder="1234567"></ion-input>
    </ion-item>
    </div>

    <div *ngIf="isVisibleLoginButton" class="bg-gray margin-top-6vw padding-left-6a3vw">
        <ion-item class="border-bottom-no">
            <ion-label>{{ 'PAGE_LOGIN.OTP' | translate }}</ion-label>
            <ion-input
                (ionChange)="limitStr(authData.code, 6)"
                (keyup)="updateList($event)"
                [(ngModel)]="authData.code"
                required
                ngControl="code"
                name="code"
                [minlength]="4"
                class="otp"
                type="number"
                pattern="[0-9]*"
                decimal="true"
                placeholder="XXXX">
            </ion-input>
        </ion-item>
    </div>
</form>

<button
    *ngIf="isVisibleLoginButton"
    (click)="login()"
    [disabled]="!form.valid"
    type="submit"
    text-uppercase
    class="margin-top-5vw"
    ion-button block
    middle
    color="primary" >
    {{ 'UNIT.SIGN_IN' | translate }}
</button>

<button
    *ngIf="!isVisibleLoginButton"
    (click)="getOtp()"
    [disabled]="!form.valid"
    type="submit"
    text-uppercase
    class="margin-top-5vw"
    ion-button block
    middle
    color="primary" >
    {{ 'PAGE_LOGIN.GET_OTP' | translate }}
</button>

<div text-center margin-top *ngIf="isVisibleLoginButton && !isRetry">
    {{ 'PAGE_LOGIN.SMS_RESENDING' | translate }}
    <span class="bold font-16">{{ countDown | async | formatTime }}</span>
    {{ counter >= 10 && counter <= 20
    ?  ('PAGE_LOGIN.SECONDS' | translate)
    : counter % 10 == 1
    ? ('PAGE_LOGIN.SECOND' | translate)
    : (counter % 10 >= 2 && counter % 10 <= 4)
    ? ('PAGE_LOGIN.SECONDS2' | translate)
    : ('PAGE_LOGIN.SECONDS' | translate) }}
</div>

<button
    *ngIf="isRetry"
    (click)="getOtp()"
    type="submit"
    text-uppercase
    class="margin-top-5vw"
    ion-button block
    middle
    color="primary" >
    {{ 'PAGE_LOGIN.RESEND_SMS' | translate }}
</button>

</ion-content>

<ion-footer no-shadow no-border>
    <div text-center>
        <div><a (click)="signup()" class="link-nau">{{ 'UNIT.SIGN_UP' | translate }}</a></div>
    </div>
    <div *ngIf="envName === 'dev'" class="devmode">Dev mode</div>
    <div *ngIf="envName === 'test'" class="devmode">Test mode</div>
</ion-footer>
