<ion-header>
    <ion-navbar>
        <ion-title>{{ 'UNIT.OFFERS' | translate }}</ion-title>
    </ion-navbar>
    <div class="header-shadow"></div>
</ion-header>

<ion-content padding >
    <ion-item class="border-bottom-no top-block-nau">
        <ion-avatar item-start>
            <img src="assets/img/user_offers/icon_lock.svg">
        </ion-avatar>
        <div item-content>
            <div class="font-18 text-3E4B5D bold">{{ total }}</div>
            <div class="font-14 text-828282">{{ 'PAGE_ADV-USER-OFFERS.CREATED_OFFERS' | translate }}</div>
        </div>
        <button (click)="openCreateOffer()" item-end ion-button class="btn_transfer font-14 text-white extrabold">
            {{ 'PAGE_ADV-USER-OFFERS.CREATE_NEW' | translate }}
        </button>
        <a item-end margin-left class="font-0 btn_calendar_user">
            <a>
                <img src="assets/img/user_offers/icon_right.svg">
            </a>
            <ion-datetime 
                doneText="Ok" 
                [(ngModel)]="date" 
                (ngModelChange)="filterOffersByDate()" 
                displayFormat="DDD DD/MM/YYYY" 
                pickerFormat="MMM/DD/YYYY"
                min="2017-10-01" 
                max="2021-12-31">
            </ion-datetime>
        </a>
    </ion-item>
    <ion-segment [(ngModel)]="segment" (click)="filterOffers()" text-uppercase margin-top class="nau-segment">
        <ion-segment-button  value="all">
            {{ 'PAGE_ADV-USER-OFFERS.ALL' | translate }}
        </ion-segment-button>
        <ion-segment-button value="featured">
            {{ 'PAGE_ADV-USER-OFFERS.FEATURED' | translate }}
        </ion-segment-button>
        <ion-segment-button value="active">
            {{ 'PAGE_ADV-USER-OFFERS.ACTIVE' | translate }}
        </ion-segment-button>
        <ion-segment-button value="deactive">
            {{ 'PAGE_ADV-USER-OFFERS.OFF' | translate }}
        </ion-segment-button>
    </ion-segment>

    <ion-list margin-top no-lines class="item-block-nau">
        <ion-item-sliding *ngFor="let offer of offers">
            <ion-item>
                <ion-avatar item-start>
                    <div 
                        [ngClass]="{ 'grayscale' : (offer.status == 'deactive') }" 
                        class="thumb_image" 
                        [ngStyle]="{'background-image': 'url(' + offer.picture_url  + '?' + time + '), url(assets/img/imagenotfound.svg)'}">
                    </div>
                </ion-avatar>
                <div item-content>
                    <div class="bold font-22 text-3E4B5D wrap-no width-44vw">{{ offer.label }}</div>
                    <div class="bold font-14 text-FF8B10 padding-top-1vw" text-uppercase>
                        <span class="text-828282 no-bold">{{ 'PAGE_ADV-USER-OFFERS.REDEEMED' | translate }}</span> 
                        {{ offer.redemptions_count }} {{ 'PAGE_ADV-USER-OFFERS.TIMES' | translate }}
                    </div>
                    <div class="font-14 text-828282 regular padding-top-1vw">{{ 'PAGE_ADV-USER-OFFERS.WAS_CREATED' | translate }}
                        <br>{{ offer.created_at.slice(0, 10) }}</div>
                </div>
                <div item-end>
                    <div (click)="editStatus(offer)"  class="toggle-disabled"></div>
                    <ion-toggle [checked]="offer.status == 'active'"></ion-toggle>
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button (click)="openEditOffer(offer)" [disabled]="offer.status == 'active'" ion-button class="bg-3E4B5D">
                    <img src="assets/img/adv-user-offers/edit.svg">
                    <div text-uppercase class="font-12 regular text-white">{{ 'PAGE_ADV-USER-OFFERS.EDIT' | translate }}</div>
                </button>
                <button (click)="delete(offer)" [disabled]="offer.status == 'active'" ion-button class="bg-FF5A00">
                    <img src="assets/img/adv-user-offers/delete.svg">
                    <div text-uppercase class="font-12 regular text-white">{{ 'PAGE_ADV-USER-OFFERS.DELETE' | translate }}</div>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll *ngIf="page <= lastPage" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'PAGE_ADV-USER-OFFERS.LOADING_OFFERS' | translate }}"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
