<ion-header>
  <ion-navbar>
    <ion-title>{{ company.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="segment" no-bounce>
    <ion-list class="margin-0">
        <div class="cover" [style.background-image]="'url(' + company.cover_url + ')'">
            <div class="cover_logo" [style.background-image]="'url(' + company.picture_url + ')'"></div>
            <div class="cover_block_btn">
                <button ion-button icon-only color="white">
                    <img src="assets/img/place/btn_star.svg">
                </button>
                <button (click)="sharePlace()" ion-button icon-only color="white">
                    <img src="assets/img/place/btn_share.svg">
                </button>
            </div>
        </div>
    </ion-list>

    <!-- START SWIPE -->
    <ion-list class="margin-0">
        <ion-item-sliding #item>
            <ion-item>
                <div margin class="font-0 relative">
                    <div text-right>
                        <span *ngIf="company.is_featured" text-uppercase class="bold font-12 text-FF5A00 letter-spacing-1">{{ 'PAGE_PLACE.FEATURED' | translate }}</span>
                        <ng-container *ngFor="let showStar of getStars(company.stars)">
                            <ion-icon class="text-FEC282 icon-star" name="{{ showStar ? 'star' : 'star-outline' }}"></ion-icon>
                        </ng-container>
                        <img class="icon_people" src="assets/img/user_home/icon_small_user.svg"><span class="font-75 text-828282">{{ company.testimonials_count }}</span>
                        <img class="icon_arrow" src="assets/img/user_home/icon_small_arrow.svg"><span class="font-75 text-828282">{{ distanceString }}</span>
                    </div>
                    <div margin-top class="text-3E4B5D font-22 bold text-overflow-2-font-22 wrap">{{ company.name }}</div>
                    <div class="text-4F4F4F font-12 semibold wrap margin-top-2proc width-88 company-address">{{ company.address }}</div>
                    <div class="font-12 text-828282 wrap text-overflow-3-font-12 margin-top-2proc width-88">{{ company.description }}</div>
                    <div class="num_right">
                        <div class="font-36 bold text-FF5A00" text-center>
                            {{ offersList?.length }}
                        </div>
                        <div text-center class="font-10 text-828282">
                            {{ offersList?.length > 1 ? ('UNIT.OFFERS' | translate) : ('UNIT.OFFER' | translate) }}
                        </div>
                    </div>
                </div>
                <span *ngIf="features && features.length > 0" class="swipe">
                      <img src="assets/img/place/swipe.svg">
                </span>
            </ion-item>

            <ion-item-options *ngIf="features && features.length > 0" side="right">
                <div class="cat-block">
                    <span *ngFor="let feature of features" class="type-food">{{ feature.name }}</span>
                </div>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
    <!-- END SWIPE -->

    <!-- <ion-footer no-shadow no-border padding>-->
    <div class="footer_testimonials" *ngIf="segment == 'testimonials'">
        <ion-list>
            <ion-item no-lines>
                <ion-input disabled class="bg-gray" placeholder="{{ 'PAGE_PLACE.ADD_YOUR_FEEDBACK' | translate }}"></ion-input>
                <!--<a item-end><img src="assets/img/user_home/icon_pin.svg"></a>-->
                <a disabled class="btn_check" margin-left item-end><img src="assets/img/place/btn_feed.svg"></a>
            </ion-item>
        </ion-list>
    </div>

    <div class="sticky">
        <ion-segment [(ngModel)]="segment" text-uppercase>
            <ion-segment-button value="alloffers">
                {{ 'PAGE_PLACE.ALL_OFFERS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="testimonials">
                {{ 'PAGE_PLACE.TESTIMONIALS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="about">
                {{ 'PAGE_PLACE.ABOUT' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>

<div padding>
  <ion-list *ngSwitchCase="'alloffers'" margin-top no-lines class="item-block-nau">
    <ion-item *ngFor=" let offer of offersList" class="relative">
      <ion-avatar item-start>
        <!-- <div class="thumb_image" [style.background-image]="offer.picture_url"></div> -->
          <div class="thumb_image" [ngStyle]="{'background-image': 'url(' + offer.picture_url + ')'}"></div>
      </ion-avatar>
        <div class="smooth_transition width-88">
            <div class="scroll_content">
                <div class="bold font-20 text-3E4B5D">{{ offer.label }}</div>
            </div>
        </div>
      <div text-regular class="margin-top-10 font-12 text-828282 wrap text-overflow-6-font-12">{{ offer.description }}</div>
      <img class="star_right" src="assets/img/place/icon_star.svg">
      <div class="margin-top-10 flex">
        <button (click)="openOffer(offer)" ion-button class="btn_transfer font-14 text-white">{{ 'PAGE_PLACE.REDEEM_NOW' | translate }}</button>
        <span class="text-BDBDBD font-18 bold margin-left margin-right plus">+</span>
        <img class="gift" src="assets/img/place/icon_gift.svg">
      </div>
    </ion-item>
  </ion-list>

  <ion-list  *ngSwitchCase="'testimonials'" margin-top no-lines class="item-block-nau testimonials">
    <ion-item *ngFor=" let testimonial of company.testimonials" (click)="openFeedback(testimonial)">
      <ion-avatar item-start>
        <div class="thumb_image" [style.background-image]="'url(' + testimonial.avatar_url + ')'"></div>
      </ion-avatar>
      <div class="bold font-18 text-3E4B5D">{{ testimonial.name }} <span class="font-12 text-828282 no-bold">{{ testimonial.date }}</span></div>
      <div class="margin-top-10 font-12 text-828282 wrap italic text-overflow-35">{{ testimonial.text }}</div>
    </ion-item>
  </ion-list>

  <div *ngSwitchCase="'about'" [innerHTML]="company.about" class="item-block-nau block-about"></div>

</div>
</ion-content>
