page-place {

  .plus{
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .btn_transfer.item-button{
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    border-radius: 12px;
  }

  .cover{
    background-image: url(../assets/img/place/header.png);
  }

  .segment{
    border-top: 1px solid #F2F2F2;
  }

  .top-block-nau.testimonials .item-ios ion-avatar ion-img, .item-ios ion-avatar img, .item-block-nau.testimonials .item-ios ion-avatar img{
    border-radius: 100vw;
  }

  .testimonials.list .item-block:last-child {
    margin-bottom: 90px;
  }

  .footer.footer-ios {
    box-shadow: 0px -6px 18px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-bottom: 1px solid #BDBDBD;
    padding-top: 3%;
    padding-bottom: 17%;
    height: 17vw;
    margin-bottom: 13%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .item-ios.item-block .item-inner{
    padding-right: 0;
  }

  .footer.footer-ios .bg-gray{
    border-radius: 8px;
  }

  .btn_check{
    background: linear-gradient(0deg, #FF5A00 0%, #FF8A23 100%);
    border-radius: 100vw;
    padding: 2.7vw;
    height: 10.4vw;
    width: 10.4vw;
  }

  .tabbar_testimonials{
    border-bottom: 1px solid gray;
  }

  .offers_count{
    line-height: 34px;
  }

    .num_right {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .segment-ios{
        width: 100%;
        display: block;
    }

    .segment-ios .segment-button {
        margin-left: 12%;
        display: inline;
        font-size: 4vw;
        line-height: 12vw;
    }

    .segment-ios .segment-button:first-of-type{
        margin-left: 5%;
    }

    .label-ios{
        margin: 0;
    }

    .segment-ios .segment-button:last-of-type {
        margin-left: 13%;
    }

    .item-block-nau.list.list-ios{
        margin: 0;
    }
}
