page-place {

    a{
        color: #FF5A00;
    }

    .gift{
        height: 8.4vw;
        width: 8.4vw;
        margin-top: 0.5vw;
        background-image: url(../assets/img/place/icon_gift.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: #fff;
        text-align: center;
        font-size: 3vw;
        line-height: 11.5vw;
    }

    .btn_transfer.item-button{
        margin-top: 1vw;
        padding-top: 2.7vw;
        padding-bottom: 2.7vw;
        width: 32.2vw;
        border-radius: 3vw;
        font-size: 3.7vw;
        background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    }

  .segment{
    border-top: 1px solid #F2F2F2;
  }

  .footer_testimonials {
    box-shadow: 0px -6px 18px rgba(0, 0, 0, 0.12);
    background: #fff;
    padding-top: 3%;
    padding-bottom: 17%;
    height: 17vw;
    width: 100%;
    margin-bottom: 13%;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
  }

    .footer_testimonials .text-input-ios {
        padding: 3vw;
    }

  .item-ios.item-block .item-inner{
    padding-right: 0;
  }

  .footer_testimonials .bg-gray{
    border-radius: 8px;
  }

  .btn_check{
    background: linear-gradient(0deg, #FF5A00 0%, #FF8A23 100%);
    border-radius: 100vw;
    padding: 2.7vw;
    height: 10.4vw;
    width: 10.4vw;
  }

  .tabbar_testimonials{
    border-bottom: 1px solid gray;
  }

  .offers_count{
    line-height: 34px;
  }

    .num_right {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .segment-ios .segment-button {
        font-size: 4vw;
        line-height: 12vw;
    }

    /*
    .segment-ios{
        width: 100%;
        display: block;
    }

    .segment-ios .segment-button {
        margin-left: 12%;
        display: inline;
        font-size: 4vw;
        line-height: 12vw;
    }

    .segment-ios .segment-button:first-of-type{
        margin-left: 5%;
    }

    .segment-ios .segment-button:last-of-type {
        margin-left: 13%;
    }
*/
    .label-ios{
        margin: 0;
    }

    .item-block-nau.list.list-ios{
        margin: 0;
    }

    .company-address{
        min-height: 4vw;
    }

    .header ion-item-options {
        width: 90%;
        padding-left: 15%;
        padding-right: 5%;
        display: block;
        overflow: scroll;
    }

    .header .list-ios ion-item-options {
        border-bottom: none;
    }

    .swipe{
        position: absolute;
        left: 31%;
        width: 7vw;
        height: auto;
        top: 4vw;
        opacity: 0.5;
    }

    .cat-block{
        padding-top: 17vw;
        padding-left: 5vw;
        padding-right: 5vw;
        height: 87%;
        overflow: scroll;
    }

    .type-food{
        border: 0.3vw solid rgba(62, 75, 93, 0.5);
        padding: 0.8vw;
        font-size: 4.3vw;
        color: #3E4B5D;
        border-radius: 1vw;
        margin-right: 1.5vw;
        margin-top: 2vw;
        display: inline-block;
    }

    .sticky{
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        top: -1px;
        background-color: white;
        z-index: 100;
    }

    .segment-offers{
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    }

    .list-ios ion-item-options{
        border-bottom: none;
    }

    .item-block-nau .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 0 2vw 0 0;
    }

    .item-block-nau .item {
        padding: 2vw;
    }

    .featured_right{
        height: 9vw;
        width: auto;
    }

    .block-about{
        color: #828282;
        font-family: 'OpenSansNauLight';
        font-size: 4vw;
    }

    .block-about span{
        font-weight: bold;
        font-size: 4.7vw;
        color: #3E4B5D;
        display: block;
        margin-bottom: 5%;
    }

    ion-avatar {
        overflow: hidden;
        background-image: url(../assets/img/imagenotfound.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70%;
    }

    .item-block-nau .item-ios ion-avatar .thumb_image{
        border-radius: 2.5vw;
        height: 23vw;
        width: 23vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .font-36{
        padding-bottom: 0;
    }

    .toolbar-title-ios{
        display: none;
    }

    ion-header ion-icon.back-button-icon.icon {
        color: #fff;
    }

    .toolbar.toolbar-ios{
        position: absolute;
        top: 0;
        left: 0;
    }

    .cover-brightness {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.25);
        z-index: 0;
    }

    .button.icon_complaint{
        background-image: url(../assets/img/place/icon_complaint.svg);
        width: 8vw;
        height: 8vw;
        border-radius: 100vw;
        background-size: 60% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 5vw;
        top: 1.5vw;
        margin-top: calc(20px + 4px);
        margin-top: calc(constant(safe-area-inset-top) + 4px);
        margin-top: calc(env(safe-area-inset-top) + 4px);
        z-index: 111;
    }

    .btn-review{
        background-image: url(../assets/img/place/btn_review.svg);
        background-color: #FF5A00;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70%;
        width: 15vw;
        height: 15vw;
        border-radius: 100vw;
        position: fixed;
        bottom: 64px;
        right: 10px;
        opacity: 0.7;
        z-index: 1111111111;
    }

    .block-place-offers{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block-place-offers .right-side {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2vw;
    }

    .block-place-offers .item{
        height: 43vw;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
    }

    .block-place-offers .smooth_transition {
        width: 83%;
        line-height: 1;
    }

    .block-place-offers .smooth_transition:before {
        display: none;
    }
    .block-place-offers .right-top-angle {
        position: absolute;
        top: -10vw;
        right: -10vw;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 20vw;
        height: 20vw;
        background-color: #FF5A00;
        background-repeat: no-repeat;
        background-position: 50% 90%;
        background-size: 25%;
    }
    .block-place-offers .right-top-angle.discount {
        background-image: url(../assets/img/place/featured/discount.svg);
        background-position: 50% 100%;
        background-size: 40%;
    }
    .block-place-offers .right-top-angle.second_free {
        background-image: url(../assets/img/place/featured/second_free.svg);
    }
    .block-place-offers .right-top-angle.bonus {
        background-image: url(../assets/img/place/featured/bonus.svg);
    }
    .block-place-offers .right-top-angle.gift {
        background-image: url(../assets/img/place/featured/gift.svg);
    }
    .block-fr {
        position: absolute;
        bottom: 2vw;
        left: 0;
        width: 100%;
        color: #fff;
    }
    .block-fr .circle {
        color: #000;
        margin-left: 2vw;
        width: 5vw;
        height: 5vw;
        border-radius: 100vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    .block-fr .circle_num{
        margin-left: 0.5vw;
    }
    .block-fr span.f {
        background: #75e3ea;
        font-weight: 100;
    }
    .block-fr span.r {
        background: #c7e240;
        font-weight: 100;
    }
    .coupon,
    .block-right {
        position: absolute;
        bottom: 0;
    }
    .coupon {
        left: 2vw;;
        align-items: flex-end;
    }
    .coupon img:nth-child(2){
        margin-left: 2vw;
    }
    .block-right {
        right: 2vw;
    }
    .right-block{
        width: 100%;
        height: 100%;
    }
}

.platform-android4 page-place .item-block-nau ion-avatar {
    height: 23vw;
    width: 23vw;
}

.platform-android4 page-place .cover_block_btn {
    position: absolute;
    right: 0;
    padding-right: 3vw;
    bottom: 3vw;
    width: 100%;
    text-align: right;
}


.iphonex page-place .btn-review {
    bottom: calc(constant(safe-area-inset-bottom) + 64px);
    bottom: calc(env(safe-area-inset-bottom) + 64px);
}

complaint-popover-component, testimonial-popover-component, limitation-popover-component {
    .modal_content{
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 7vw;
        overflow: auto;
    }

    a{
        color: #FF5A00;
    }

    .text-input-ios {
        padding: 3vw;
    }

    textarea.text-input {
        height: 23vw;
    }
}

testimonial-popover-component {
    .block-star {
        font-size: 10vw;
        display: flex;
        justify-content: space-between;
    }

    textarea.text-input {
        height: 30vw;
    }
}
