page-splash-screen{
  .swiper-container .list-ios{
    margin: 0;
  }

  .font-weight-normal{
    font-weight: 400;
  }

  .slider_bottom .slide-zoom{
    text-align: left;
  }

  .block-slider{
    padding: 15px;
  }

  .img-float-left{
    float: left;
    padding: 10px;
  }
}
