page-splash-screen{
  .swiper-container .list-ios{
    margin: 0;
  }

  .grid-tabs-splash{
    background: linear-gradient(89.83deg, #FF5A00 0.05%, #FF8B10 99.97%);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
  }

  .grid-tabs-splash .col{
    min-height: 115px;
  }

  .grid-tabs-splash .col img{
    max-width: 70%;
  }

  .font-weight-normal{
    font-weight: 400;
  }

  .slider_bottom .slide-zoom{
    text-align: left;
  }

  .block-slider{
    padding: 15px;
  }

  .img-float-left{
    float: left;
    padding: 10px;
  }
}
