page-splash-screen{
  .swiper-container .list-ios{
    margin: 0;
  }

  .slider_top .slides{
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
  }

  .slides img{
    width: 30%;
  }

  .grid-tabs-splash .col{
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
  }

  .font-weight-normal{
    font-weight: 400;
  }

  .slider_bottom .slide-zoom{
    text-align: left;
  }
}
