<ion-header>
  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (submit)="register()">
    <ion-list class="bg-gray-block">
      <ion-item>
        <div item-start text-center>
          <button class="btn-add-border-out button-circle-medium" ion-fab color="dark"><ion-icon name="md-add" class="text-lightgray"></ion-icon></button>
        </div>
        <div item-content>
          <ion-item><ion-input class="border-bottom-gray" type="text" placeholder="Your Name" [(ngModel)]="data.name" name="name1"></ion-input></ion-item>
          <ion-input type="email" placeholder="Your E-mail" [(ngModel)]="data.email" name="email"></ion-input>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="bg-gray-block" no-lines>
      <ion-item>
        <ion-avatar item-start>
          <span text-center>
            <img src="../assets/img/create_user_profile/1.png">
          </span>
        </ion-avatar>
        <div item-end text-left>
          <p>if your will additional information about yourself it helps us to recommend best offer for you.
            to earn points for this!
          </p>
        </div>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <span text-center>
            <img src="../assets/img/create_user_profile/2.png">
          </span>
        </ion-avatar>
        <div item-end text-left>
          <p>Of course you have good opportunity to earn extra points for this! More infromation - more points!
          </p>
        </div>
      </ion-item>
    </ion-list>

    <p padding class="font-75">SOCIAL ACCOUNTS (Every item adds + 3 points) </p>

    <ion-list class="bg-gray-block">
      <a ion-item detail-push>
        <ion-icon padding-left item-start name="logo-facebook" class="text-gray"></ion-icon>
        <ion-input placeholder="Facebook"></ion-input>
        <div item-end>
          <ion-label class="label label-ios points font-75">+ 3 points</ion-label>
        </div>
      </a>

      <a ion-item detail-push>
        <ion-icon padding-left item-start name="logo-twitter" class="text-gray"></ion-icon>
        <ion-input placeholder="Twitter"></ion-input>
        <div item-end>
          <ion-label class="label label-ios points font-75">+ 3 points</ion-label>
        </div>
      </a>

      <a ion-item detail-push>
        <ion-icon padding-left item-start name="logo-instagram" class="text-gray"></ion-icon>
        <ion-input placeholder="Instagram"></ion-input>
        <div item-end>
          <ion-label class="label label-ios points font-75">+ 3 points</ion-label>
        </div>
      </a>
    </ion-list>

    <ion-list>
        <a (click)="toggleSelect()">
          <ion-icon *ngIf="!isSelectVisible" name="arrow-down"></ion-icon>
          <ion-icon *ngIf="isSelectVisible" name="arrow-up"></ion-icon>
          <div *ngIf="!isSelectVisible" class="select font-75">
            Show additional options (more points)
          </div>
          <div *ngIf="isSelectVisible" class="select font-75">
            Hide additional information
          </div>
        </a>

      <div [ngClass]="{ 'accord-visibility' : (isSelectVisible), 'accord-hidden' : (!isSelectVisible) }">

        <ion-list class="bg-gray-block">
          <a ion-item detail-push>
            <ion-label padding-left class="label label-ios">Gender</ion-label>
            <div item-end>
              <ion-label class="label label-ios points font-75">+ 5 points</ion-label>
            </div>
          </a>

          <a ion-item detail-push>
            <ion-label padding-left class="label label-ios">Age</ion-label>
            <div item-end>
              <ion-label class="label label-ios points font-75">+ 9 points</ion-label>
            </div>
          </a>

          <a ion-item detail-push>
            <ion-label padding-left class="label label-ios">Income</ion-label>
            <div item-end>
              <ion-label class="label label-ios points font-75">+ 5 points</ion-label>
            </div>
          </a>
        </ion-list>

        <p padding text-uppercase class="font-75">Confirm your location:</p>
        <div padding-bottom>
          <div *ngIf="!coords.lat">Detecting your location...</div>
          <agm-map *ngIf="coords.lat" [zoom]="15" [latitude]="coords.lat" [longitude]="coords.lng">
            <agm-marker [latitude]="coords.lat" [longitude]="coords.lng"></agm-marker>
          </agm-map>
        </div>

    </div>

      <!-- <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password_confirm" name="password_confirm"></ion-input>
      </ion-item> -->

      <p>
        <button ion-button block>Create account</button>
      </p>
    </ion-list>
  </form>
</ion-content>
