page-create-user-profile{
  .map{
    width: 100%;
    height: auto;
    border-radius: 100px;
  }

  .label-md,.label-ios{
    margin: 0;
  }

  img{
    width: 100%;
  }

  agm-map {
    height: 250px;
    border-radius: 50px;
  }

  .select-block-desc {
    margin-top: 7px;
    margin-bottom: 0;
  }

  .icon {
    line-height: 1.1;
  }

  .points{
    background: #FF8B10;
    color: #fff;
    padding: 3px;
  }

  .added{
    background: #3E4B5D;
    color: #fff;
    padding: 3px;
  }

  .block-name.item-ios [item-right], .item-ios [item-end], .block-people.item-ios [item-right], .item-ios [item-end]{
    margin: 0;
  }

  .block-name.item-ios.item-block .item-inner, .block-people.item-ios.item-block .item-inner{
    padding-right: 0;
  }

  .block-name .points{
    margin-left: 5px;
  }

  .block-name img{
    height: 24px;
    margin-top: 8px;
  }

  .ion-logo-twitter{
    width: 41.8px;
  }

  .input_relative{
    position: relative;
  }

  .input_relative span{
    position: absolute;
    right: 0;
    height: 43px;
    top: 0;
    padding: 10px;
  }

  .input_relative span img, .popover_not img{
    height: 100%;
    width: auto;
  }

  .popover_not {
    position: absolute;
    right: 3px;
    background: #fff;
    padding: 7px;
    border-radius: 100px;
    z-index: 111;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    display: table;
  }

  .popover1{
    top: 3px;
  }

  .popover2{
    bottom: 3px;
    width: calc(100% - 6px);
  }

  .popover_not img{
    height: 21px;
    width: auto;
  }

  .popover_not span{
    display: table-cell;
    vertical-align: middle;
  }

  .item-content{
    width: 100%;
  }

  #marker {
    color: darkorchid;
    font-size: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -160px;
    width: 32px;
  }

  .gender_select.select.select-ios{
    padding: 11px 8px 11px 8px;
    max-width: 100%;
  }

  .people{
    width: 60px;
    padding-bottom: 40px;
  }
}
