page-create-user-profile{
  .map{
    width: 100%;
    height: auto;
    border-radius: 100px;
  }

  .label-md,.label-ios{
    margin: 0;
  }

  img{
    width: 100%;
  }

  agm-map {
    height: 250px;
    border-radius: 50px;
  }

  .select {
    float: left;
    padding-right: 5px;
  }

  .icon {
    line-height: 1.1;
  }

  .points{
    background: gray;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
  }

  .ion-logo-twitter{
    width: 41.8px;
  }

  #marker {
    color: darkorchid;
    font-size: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -160px;
    width: 32px;
  }
}
