page-invite {
    .envelope{
        width: 54%;
        height: auto;
    }

    .label-copy {
        padding-left: 6.3vw;
        padding-right: 6.3vw;
    }
    .label-copy .item-icon {
        font-size: 9vw;
        margin: 0;
        min-height: 0;
    }
    .label-copy .input-wrapper {
        padding-right: 5%;
    }
    .label-copy .label.label-ios {
        overflow: scroll;
        text-overflow: initial;
    }

    ion-buttons a{
        display: flex;
        align-items: center;
    }
}
