page-user-nau{
  .btn_transfer.item-button{
    height: 7.2vw;
    margin: 0;
    margin-right: 8.9vw;
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
  }

  .overflow {
    overflow: hidden;
    width: 90%;
  }

  .star_right{
      top: inherit;
      right: 2vw;
      height: 8vw;
      width: auto;
      background: #fff;
      padding-left: 1vw;
      bottom: 2vw;
  }

    .star_right:before{
        content: "";
        display: block;
        width: 5vw;
        height: 83%;
        position: absolute;
        bottom: 0;
        left: -5vw;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 100%);
    }

  .datetime-ios{
      padding: 0;
      font-size: 0;
  }

    .id-transaction{
        line-height: 7vw;
        font-size: 4.3vw;
    }

    /* TRANSACTION */

    .item-block-nau ion-spinner {
        position: absolute;
        right: 2vw;
        top: calc(50% - 14px);
    }

    .btn_scan {
        position: absolute;
        width: 11%;
        height: 11vw;
        top: 24%;
        right: 6%;
        padding: 2vw;
    }

    .btn_scan img{
        width: 100%;
        height: 100%;
    }

    .relative .text-input-ios{
        width: 88%;
    }

    .relative .text-input-ios {
        padding: 3vw 2.3vw 3vw 6.3vw;
    }
}

transfer-popover-component {
    .block-btn{
        width: 60%;
        margin-left: 20%;
    }

    .qr-code{
        width: 50%;
    }

    .close{
        position: absolute;
        right: 5%;
        top: 5%;
        width: 5vw;
        height: 5vw;
    }
}
