page-user-nau{
  .btn_transfer.item-button{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
  }

  .overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
