<ion-header>
    <ion-navbar>
        <ion-title>{{ 'PAGE_USER-NAU.NAU_TRANSACTIONS' | translate }}</ion-title>
    </ion-navbar>
    <div class="header-shadow"></div>
</ion-header>

<ion-content>
    <div padding-left padding-right padding-bottom class="sticky">
        <ion-item class="border-bottom-no top-block-nau">
            <ion-avatar item-start>
                <img src="assets/img/user_nau/icon_nau.svg">
            </ion-avatar>
            <div item-content>
                <div class="font-18 text-3E4B5D bold">{{ balance }}</div>
                <div class="font-14 text-828282">NAU</div>
            </div>
            <button
                *ngIf="transactions && transactions.length > 0"
                (click)="openTransfer()"
                item-end
                ion-button
                class="btn_transfer font-14 text-white">
                {{ 'PAGE_USER-NAU.TRANSFER' | translate }}
            </button>
            <a disabled item-end margin-left class="btn_calendar_user">
                <a (click)="showCalendar()">
                    <img src="assets/img/user_offers/icon_right.svg">
                    <ion-datetime
                        doneText="Ok"
                        [(ngModel)]="date"
                        (ngModelChange)="filterByDate()"
                        displayFormat="DDD DD/MM/YYYY"
                        pickerFormat="MMM/DD/YYYY"
                        min="2017-12-01"
                        max="2021-12-31">
                    </ion-datetime>
                </a>
            </a>
        </ion-item>
    </div>
    <div *ngIf="isFormVisible">
        <form #form="ngForm">
            <div class="block-lines relative">
                <div text-uppercase class="font-14 text-4F4F4F margin-bottom-10">
                    {{ 'PAGE_TRANSFER.SOURCE_ADDRESS' | translate }}
                </div>
                <ion-item no-lines>
                    <ion-input [(ngModel)]="transferData.source"
                               class="bg-gray"
                               required
                               minlength="20"
                               pattern="^[a-zA-Z0-9]*$"
                               type="text"
                               name="source"
                               placeholder="{{ 'PAGE_TRANSFER.INPUT_ADDRESS' | translate }}">
                    </ion-input>
                </ion-item>
                <a (click)="openPopover()" class="btn_scan">
                    <img src="assets/img/scan_qr.svg">
                </a>
            </div>

            <div class="block-lines relative">
                <div text-uppercase class="font-14 text-4F4F4F margin-bottom-10">
                    {{ 'PAGE_TRANSFER.DESTINATION_ADDRESS' | translate }}
                </div>
                <ion-item no-lines>
                    <ion-input [(ngModel)]="transferData.destination"
                               class="bg-gray"
                               required
                               minlength="20"
                               pattern="^[a-zA-Z0-9]*$"
                               type="text"
                               name="destination"
                               placeholder="{{ 'PAGE_TRANSFER.INPUT_ADDRESS' | translate }}"></ion-input>
                </ion-item>
                <a (click)="scanBarcode()" class="btn_scan">
                    <img src="assets/img/scan.svg">
                </a>
            </div>

            <div class="block-lines">
                <div text-uppercase class="font-14 text-4F4F4F margin-bottom-10">
                    {{ 'PAGE_TRANSFER.AMOUNT' | translate }}
                </div>
                <ion-item no-lines>
                    <ion-input
                        (keyup)="updateAmount($event)"
                        [(ngModel)]="amount"
                        ngControl="amount"
                        required
                        class="bg-gray"
                        type="number"
                        name="amount"
                        placeholder="{{ 'PAGE_TRANSFER.AMOUNT' | translate }}">
                    </ion-input>
                </ion-item>
            </div>


            <div margin-top margin-left margin-right>
                <button (click)="transfer()" [disabled]="!form.valid"  color="primary" ion-button block>
                    {{ 'PAGE_TRANSFER.TRANSFER' | translate }}
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="transactions && transactions.length > 0" padding-left padding-top class="font-14 text-FF5A00" text-uppercase>{{ 'PAGE_USER-NAU.LATEST_PAYMENTS' | translate }}</div>
    <ion-list padding no-lines class="item-block-nau">
        <ion-item class="relative" *ngFor="let transaction of transactions">
            <span class="bold wrap id-transaction"> <!--{{ 'PAGE_USER-NAU.PAY' | translate }}--> {{ transaction.id }}</span>
            <div
                *ngIf="!isTransferLoading || (isTransferLoading && transaction.id !== 'Transfer process...')"
                [ngClass]="{ 'text-FF8B10' : (transactionSource( transaction.source_account_id, transaction.amount) < 0),
                'text-3E4B5D' : (transactionSource( transaction.source_account_id, transaction.amount) > 0)}"
                class="font-22 margin-bottom-5 bold">
            </div>
            <div
            *ngIf="!isTransferLoading || (isTransferLoading && transaction.id !== 'Transfer process...')"
                [ngClass]="{ 'text-FF8B10' : (transactionSource( transaction.source_account_id, transaction.amount) < 0),
                'text-3E4B5D' : (transactionSource( transaction.source_account_id, transaction.amount) > 0)}"
                class="font-22 star_right" text-uppercase>
                <span class="bold">{{ transactionSource( transaction.source_account_id, transaction.amount) }}</span>
                <span class="regular" text-uppercase> {{ 'PAGE_USER-NAU.NAU' | translate }}</span>
            </div>
            <div class="font-14 text-828282">{{ getDate(transaction.created_at) }}</div>
            <ion-spinner *ngIf="isTransferLoading && transaction.id === 'Transfer process...'" name="bubbles"></ion-spinner>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll *ngIf="page <= lastPage" (ionInfinite)="doInfinite($event)" >
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="{{ 'PAGE_USER-NAU.LOADING_TRANSACTIONS' | translate }}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
