page-user-nau{
  .btn_transfer.item-button{
    height: 7.2vw;
    margin: 0;
    margin-left: 24.6vw;
    margin-right: 8.9vw;
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
  }

  .overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
  }

  .item-block-nau .item{
    padding: 16px;
  }

  .star_right{
    top: 16px;
    right: 16px;
  }
}
