page-places {
  .grid{
    padding: 0;
  }

  .grid img{
    max-width: 30px;
  }

  .list{
    margin: 0 0 16px;
  }

  .tb-background{
    background: #aaa2a2;
  }

  .tb-background img{
    height: auto;
    width: 50%;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img, .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  agm-map {
    height: calc(100vh - 159px);
    height: -webkit-calc(100vh - 159px);
    height: -moz-calc(100vh - 159px);
  }

  .item-block-nau .item-ios [item-right], .item-ios [item-end]{
    width: 33px;
  }


  .block-search.item-ios.item-block .item-inner {
    padding-right: 0;
  }

  .font-36{
    line-height: 34px;
  }

  .num_right {
    position: absolute;
    right: 10px;
    bottom: 12px;
  }

  .star_right {
    position: absolute;
    right: 14px;
    top: 17px;
  }

}

places-popover-component {
  .modal_content{
    padding-bottom: 60px;
  }

  .block-checks {
    margin-right: 5px;
    margin-left: 8px;
  }

  .bg-gray {
    border-radius: 100px;
    border: none;
    background: #E0E0E0;
    padding-right: 16px;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0;
  }

  .item-block{
    min-height: 3.4rem;
  }

  .checkbox-ios .checkbox-icon {
    background-color: #fff;
    background-image: none;
  }

  .footer_btn {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 5%;
    background: #fff;
    border-radius: 10px;
  }

  .footer_btn .grid{
    padding-bottom: 16px;
  }

  .margin-left-2proc{
    margin-left: 2%;
  }

  .margin-right-2proc{
    margin-right: 2%;
  }
}
