<div margin class="modal_content">

    <a disabled (click)="openTypesSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
      <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_TYPE' | translate }}</ion-label>
      <div item-end>
        <img *ngIf="isOpenTypesSelect" src="assets/img/user_home/arrow_up.svg">
        <img *ngIf="!isOpenTypesSelect" src="assets/img/user_home/arrow_down.svg">
      </div>
    </a>

    <div *ngIf="isOpenTypesSelect" class="block-checks">
        <ion-item *ngFor="let type of types" no-lines>
            <ion-label margin-left item-end class="text-828282 font-16">{{ type.name }}</ion-label>
            <ion-checkbox [(ngModel)]="type.isSelected" item-end></ion-checkbox>
        </ion-item>
    </div>

    <a disabled (click)="openFeaturesSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
        <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_FEATURES' | translate }}</ion-label>
        <div item-end>
            <img *ngIf="isOpenFeaturesSelect" src="assets/img/user_home/arrow_up.svg">
            <img *ngIf="!isOpenFeaturesSelect" src="assets/img/user_home/arrow_down.svg">
        </div>
    </a>

    <div *ngIf="isOpenFeaturesSelect" class="block-checks">
        <ion-item *ngFor="let feature of features" no-lines>
            <ion-label margin-left item-end class="text-828282 font-16">{{ feature.name }}</ion-label>
            <ion-checkbox [(ngModel)]="feature.isSelected" item-end></ion-checkbox>
        </ion-item>
    </div>

    <a (click)="openCuisineSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
      <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_CUISINE' | translate }}</ion-label>
      <div item-end>
        <img *ngIf="isOpenCuisineSelect" src="assets/img/user_home/arrow_up.svg">
        <img *ngIf="!isOpenCuisineSelect" src="assets/img/user_home/arrow_down.svg">
      </div>
    </a>

    <div *ngIf="isOpenCuisineSelect" class="block-checks">
      <ion-item *ngFor="let category of categories" no-lines>
          <ion-label margin-left item-end class="text-828282 font-16">{{ category.name }}</ion-label>
          <ion-checkbox [(ngModel)]="category.isSelected" item-end></ion-checkbox>
        </ion-item>
    </div>
</div>
<div class="footer_btn" padding>
    <ion-grid>
        <ion-row>
            <ion-col text-center class="margin-right-2proc">
                <button (click)="cancel()" ion-button block color="secondary">{{ 'UNIT.CANCEL' | translate }}</button>
                <!-- <button *ngIf="isOpenTypesSelect" (click)="clear(types)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button>
                <button *ngIf="isOpenFeaturesSelect" (click)="clear(features)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button>
                <button *ngIf="isOpenCuisineSelect" (click)="clear(categories)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button> -->
            </ion-col>
            <ion-col text-center class="margin-left-2proc">
                <button (click)="close()" ion-button block color="primary">{{ 'UNIT.DONE' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
