<div class="modal_content">
    <ion-item no-lines>
        <ion-label text-left text-uppercase class="width-100 text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_RADIUS' | translate }}
            <ion-badge color="secondary" item-right>{{ radius / 1000 }} {{ 'UNIT.KM' | translate }} </ion-badge>
        </ion-label>
        <ion-range item-end
            min="0"
            max="14"
            [(ngModel)]="slider"
            (ionChange)="watchSlider()">
            <ion-label range-left>0.2</ion-label>
            <ion-label range-right>500</ion-label>
        </ion-range>
    </ion-item>
    <a  (click)="openTypesSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
      <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_TYPE' | translate }}</ion-label>
      <div item-end>
        <img *ngIf="isOpenTypesSelect" src="assets/img/user_home/arrow_up.svg">
        <img *ngIf="!isOpenTypesSelect" src="assets/img/user_home/arrow_down.svg">
      </div>
    </a>

    <div *ngIf="isOpenTypesSelect" class="block-checks">
        <ion-item *ngFor="let type of types" no-lines>
            <ion-label item-end class="text-828282 font-16">{{ type.name }}</ion-label>
            <ion-checkbox [(ngModel)]="type.isSelected" (ionChange)="getSpecialities()" item-end></ion-checkbox>
        </ion-item>
    </div>

    <a *ngIf="specialities.length > 0" (click)="openSpecialitiesSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
        <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_FEATURES' | translate }}</ion-label>
        <div item-end>
            <img *ngIf=" isOpenSpecialitiesSelect" src="assets/img/user_home/arrow_up.svg">
            <img *ngIf="! isOpenSpecialitiesSelect" src="assets/img/user_home/arrow_down.svg">
        </div>
    </a>

    <div *ngIf="isOpenSpecialitiesSelect" class="block-checks">
        <ion-item *ngFor="let speciality of specialities" no-lines>
            <ion-label item-end class="text-828282 font-16">{{ speciality.name }}</ion-label>
            <ion-checkbox [(ngModel)]="speciality.isSelected" item-end></ion-checkbox>
        </ion-item>
    </div>

    <a *ngIf="tags.length > 0" (click)="openCuisineSelect()" ion-item detail-none class="bg-gray margin-bottom-small" padding-left pedding-right>
      <ion-label text-uppercase class="text-4F4F4F font-16">{{ 'PAGE_PLACES.SELECT_CUISINE' | translate }}</ion-label>
      <div item-end>
        <img *ngIf="isOpenCuisineSelect" src="assets/img/user_home/arrow_up.svg">
        <img *ngIf="!isOpenCuisineSelect" src="assets/img/user_home/arrow_down.svg">
      </div>
    </a>

    <div *ngIf="isOpenCuisineSelect" class="block-checks">
      <ion-item *ngFor="let tag of tags" no-lines>
          <ion-label item-end class="text-828282 font-16">{{ tag.name }}</ion-label>
          <ion-checkbox [(ngModel)]="tag.isSelected" item-end></ion-checkbox>
        </ion-item>
    </div>
</div>
<div class="footer_btn" padding>
    <ion-grid>
        <ion-row>
            <ion-col text-center class="margin-right-2proc">
                <button (click)="cancel()" ion-button block color="secondary">{{ 'UNIT.CANCEL' | translate }}</button>
                <!-- <button *ngIf="isOpenTypesSelect" (click)="clear(types)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button>
                <button *ngIf="isOpenFeaturesSelect" (click)="clear(features)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button>
                <button *ngIf="isOpenCuisineSelect" (click)="clear(categories)" ion-button block color="secondary">{{ 'PAGE_PLACES.CLEAR' | translate }}</button> -->
            </ion-col>
            <ion-col text-center class="margin-left-2proc">
                <button (click)="close()" ion-button block color="primary">{{ 'UNIT.DONE' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
