<ion-content no-bounce class="padding-no">

    <ion-grid text-center class="grid-tabs-splash">
        <ion-row align-items-end>
            <a ion-col *ngFor="let category of categories" [ngClass]="{ 'active_cat': isSelectedCategory(category) }" (click)="selectCategory(category)">
                <p>
                    <img [src]="category.image_url">
                </p>
                <span class="semibold" [innerHTML]="category.name_html"></span>
            </a>
        </ion-row>
    </ion-grid>

    <div class="sticky">
        <ion-segment [(ngModel)]="segment" text-uppercase class="semibold text-FF5A00">
            <ion-segment-button value="alloffers">
                {{ 'PAGE_PLACES.ALL_OFFERS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="delivery">
                {{ 'PAGE_PLACES.DELIVERY' | translate }}
            </ion-segment-button>
            <ion-segment-button value="new">
                {{ 'PAGE_PLACES.NEW' | translate }}
            </ion-segment-button>
            <ion-segment-button value="monthly">
                {{ 'PAGE_PLACES.MONTHLY' | translate }}
            </ion-segment-button>
            <ion-segment-button value="cheer">
                {{ 'PAGE_PLACES.FEATURED' | translate }}
            </ion-segment-button>
        </ion-segment>

        <ion-item class="block-search relative" no-lines padding-left padding-right>
            <ion-searchbar [(ngModel)]="search" (ionInput)="searchCompanies($event)" debounce=2000 round placeholder=""></ion-searchbar>
            <a (click)="presentPopover()" class="btn_search_settings">
                <img src="assets/img/user_home/icon_settings.svg">
            </a>
            <a (click)="toggleMap()" text-center class="searchbar-right-block">
                <div class="btn_map1" *ngIf="!isMapVisible">
                    <img src="assets/img/user_home/icon_pin_new.svg">
                    <div class="text-828282 font-10">{{ 'PAGE_PLACES.MAP' | translate }}</div>
                </div>
                <img class="btn_map2" *ngIf="isMapVisible" src="assets/img/user_home/icon_pin_hide.svg">
            </a>
        </ion-item>
    </div>

    <ion-list padding-left padding-right *ngIf="!isMapVisible" no-lines class="item-block-nau margin-top-10">
        <a ion-item detail-none *ngFor="let company of companies" (click)="openPlace(company)">
            <ion-avatar item-start text-center>
                <div class="thumb_image" [ngStyle]="{'background-image': 'url(' + company.picture_url + '), url(assets/img/imagenotfound.svg)'}"></div>
                <span *ngIf="company.is_featured" text-uppercase class="bold font-12 text-FF5A00 letter-spacing-1">{{ 'PAGE_PLACES.FEATURED' | translate }}</span>
            </ion-avatar>
            <div class="font-0">
                <ng-container *ngFor="let showStar of getStars(company.stars)">
                    <ion-icon class="text-FEC282 icon-star" name="{{ showStar ? 'star' : 'star-outline' }}"></ion-icon>
                </ng-container>
                <img class="icon_people" src="assets/img/user_home/icon_small_user.svg">
                <span class="font-75 text-828282">{{ company.testimonials_count }}</span>
                <img class="icon_arrow" src="assets/img/user_home/icon_small_arrow.svg">
                <span class="font-75 text-828282"> {{ getDistance(company.latitude, company.longitude) }} </span>
                <div class="bold font-20 text-3E4B5D text-ellipsis margin-top-1vw">{{ company.name }}</div>
                <div class="wrap">
                    <ng-container *ngFor="let category of company.categories">
                        <span class="type-food">{{ category.name }}</span>
                    </ng-container>
                </div>
                <div margin-top class="text-828282 font-12 wrap text-overflow-2-font-12 margin-top-5">{{ company. description }}</div>
            </div>
            <img class="star_right" src="assets/img/place/icon_star.svg">

            <div item-end>
                <div class="num_right">
                    <div class="font-36 bold text-FF5A00" text-center>
                        {{ company?.active_offers_count }}
                    </div>
                    <div text-center class="font-10 text-828282">
                        {{ 'UNIT.OFFERS' | translate }}
                    </div>
                </div>
            </div>
        </a>

    </ion-list>

    <div *ngIf="isMapVisible">
        <div id="map_leaf" class="leaflet-map"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="getLayers()"
            [leafletFitBounds]="fitBounds">
        </div>
    </div>

    <ion-infinite-scroll *ngIf="page <= lastPage" (ionInfinite)="infiniteScroll($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'PAGE_PLACES.LOADING_COMPANIES' | translate }}"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
