page-places {
    .grid img {
        max-width: 30px;
    }
    .list {
        margin: 0 0 16px;
    }
    .tb-background {
        background: #aaa2a2;
    }
    .tb-background img {
        height: auto;
        width: 50%;
    }
    .item-md ion-avatar ion-img,
    .item-md ion-avatar img,
    .item-ios ion-avatar ion-img,
    .item-ios ion-avatar img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    agm-map {
        height: calc(100vh - 248px);
        height: -webkit-calc(100vh - 248px);
        height: -moz-calc(100vh - 248px);
    }
    .leaflet-map {
        height: calc(100vh - 247px);
        height: -webkit-calc(100vh - 247px);
        height: -moz-calc(100vh - 247px);
        position: relative;
    }
    a[href^="http://maps.google.com/maps"] {
        display: none !important
    }
    a[href^="https://maps.google.com/maps"] {
        display: none !important
    }
    .gmnoprint a,
    .gmnoprint span,
    .gm-style-cc {
        display: none;
    }
    .gm-svpc {
        display: none;
    }
    .item-block-nau .item-ios [item-right],
    .item-ios [item-end] {
        width: 33px;
    }
    .block-search.item-ios.item-block .item-inner {
        padding-right: 0;
    }
    .star_right {
        position: absolute;
        right: 2vw;
        top: 2vw;
        width: auto;
    }
    .segment-ios {
        width: 93%;
        margin-left: 4%;
        display: -webkit-box;
        justify-content: space-between;
    }
    .segment-ios .segment-button {
        width: auto;
        max-width: 20vw;
    }
    .sticky {
        box-shadow: 0 1.9vw 5vw rgba(0, 0, 0, 0.12);
        top: -1px;
        background-color: white;
        z-index: 100;
    }

    .item-block-nau .item {
        padding: 2vw;
    }
    .item-block-nau .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 0 2vw 0 0;
    }

    ion-avatar {
        overflow: hidden;
        background-image: url(../assets/img/imagenotfound.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70%;
    }

    .item-block-nau .item-ios ion-avatar .thumb_image{
        height: 23vw;
        width: 23vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: white;
        border-radius: 2.5vw;
    }

    .font-36{
        padding-bottom: 0;
    }

    .font-75{
        line-height: 3vw;
    }

    ion-refresher {
        margin-top: -35px;
        background: linear-gradient(89.83deg, #FF5A00 0.05%, #FF8B10 99.97%);
        height: 170px;
    }

    /* STATUS BAR */
    .sticky{
        top: 20px;
    }

    .header-ios{
        height: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: linear-gradient(89.83deg, #FF5A00 0.05%, #FF8B10 99.97%);
    }

    ion-content{
        margin-top: -20px;
        height: calc(100% + 20px)
    }

    .has-refresher > .scroll-content{
        border-top: 0;
    }

    ion-navbar.toolbar.toolbar-ios{
        pointer-events: none;
    }

    .user-pin{
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        background-image: url(../assets/img/user_home/pin_user.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 7vw;
        z-index: 111111;
    }

    .user-location{
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 111111;
        color: #FF5A00;
        background: #fff;
        width: 15vw;
        height: 15vw;
        border-radius: 100vw;
        border: 1px solid lightgray;
        display: flex;
    }

    .user-location:active{
        opacity: 0.5;
    }

    ion-icon{
        margin: auto;
        font-size: 9vw;
    }

    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        border: none;
    }

    .leaflet-touch .leaflet-bar a{
        background: #FF5A00;
        color: #fff;
        width: 10vw;
        height: 10vw;
        font-size: 7vw;
    }

    .leaflet-bar a:hover{
        background: #FF5A00;
        color: #fff;
    }

    .leaflet-touch .leaflet-bar a:first-child {
        border-top-left-radius: 100vw;
        border-top-right-radius: 100vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        line-height: 9vw;
    }

    .leaflet-touch .leaflet-bar a:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 100vw;
        border-bottom-right-radius: 100vw;
        line-height: 8vw;
    }
}

/*
.platform-ios page-places {
    .scroll-content{
        margin-top: 20px;
    }
}
*/


/* FIX STATUS BAR IPHONE_X */
.iphonex page-places .header-ios{
    height: 40px;
}

.iphonex page-places ion-content{
    margin-top: -40px;
    height: calc(100% + 40px)
}

.iphonex page-places .sticky{
    top: 40px;
}

.iphonex page-places ion-refresher {
    margin-top: -20px;
}

places-popover-component {
  .modal_content{
      padding-bottom: 24vw;
      padding-left: 7vw;
      padding-right: 7vw;
      padding-top: 7vw;
      height: 80vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
  }

  .block-checks {
    margin-right: 5px;
    margin-left: 8px;
  }

  .bg-gray {
    border: none;
    background: #E0E0E0;
    padding-right: 5%;
  }

  .bg-gray img{
      display: flex;
      height: 2.5vw
  }

  .item-ios.item-block .item-inner {
    padding-right: 0;
  }

  .item-block{
    min-height: 3.4rem;
  }

  .checkbox-ios .checkbox-icon {
    background-color: #fff;
    background-image: none;
  }

  .margin-left-2proc{
    margin-left: 2%;
  }

  .margin-right-2proc{
    margin-right: 2%;
  }

  .footer_btn .grid {
    padding-bottom: 0;
  }

    .item.item-ios .checkbox-ios[item-right], .item.item-ios .checkbox-ios[item-end] {
        margin: 0 2.3vw;
    }

    ion-item.item.item-block.item-ios.item-checkbox {
        padding-left: 2vw;
    }

    .item.item-block.item-ios.item-range{
        padding-left: 0;
    }

    .range-ios.range-has-pin {
        padding-top: 2.2vw;
    }

    .range-ios {
        padding: 2.2vw 0;
    }
}

noPlaces-popover-component {
    .modal_content{
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 7vw;
        overflow: auto;
    }

    .flag-big{
        width: 20vw;
    }

    .flag-block div{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .flag-block img{
        width: 6vw;
        margin-right: 1vw;
    }

}
