page-home-user-page {
  .toolbar-background{
    background: #aaa2a2;
  }

  .toolbar img{
    height: auto;
    width: 50%;
  }

  .block-search{
    background: #aaa2a2;
  }

  .content{
    padding: 0;
  }
}
