page-user-profile{
  ion-app.ios [padding], ion-app.ios [padding] .scroll-content{
    padding: 0;
  }

  h3{
    margin: 0;
  }

  ion-slides{
    height: inherit;
  }

  ion-slide h5{
    white-space: normal;
  }

  ion-list {
    padding: 15px;
  }

  .block-slider .row{
    height: 100%;
  }

//   .block-slider .item-ios ion-avatar img{
//     height: 14.5vw;
//     width: auto;
//     padding-right: 10vw;
//     padding-left: 7vw;
//     border-radius: 0;
//   }

  .block-slider ion-list {
    padding: 0;
  }

  .block-icon-bottom img {
    height: 9.4vw;
    width: auto;
    margin-bottom: 3vw;
  }

  .item-block {
    background: transparent;
  }

  .item-ios ion-avatar img{
    width: 60px;
    height: 60px;
  }

  .swiper-container .list-ios{
    margin: 0;
  }

  ion-item > .item-inner {
    padding: 0 !important;
  }

  .user_level{
      background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
      border-radius: 100vw;
      height: 10vw;
      width: 10vw;
  }

  /* CIRCLE */

    .block-user-level{
        width: 31vh;
        height: 31vh;
        background: url(../assets/img/user_profile/star.svg);
        display: flex;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        margin: auto;
        padding: 3vh;
    }

    .block-circle{
        width: 90%;
        height: 90%;
        display: block;
        font-size: 0;
        position: relative;
        margin: auto;
    }

    .label-point{
        font-size: 4vw;
        position: absolute;
        color: #828282;
    }

    .circle-label-left{
        top: -2.5vw;
        left: -3vh;
    }

    .circle-label-right{
        top: -2.5vw;
        right: -3vh;
    }

    .circle-label-bottom{
        bottom: -3.5vh;
        left: -50%;
        text-align: center;
        width: 100%;
    }

    .circle-label-top{
        top: -5.5vh;
        left: -53%;
        width: 100%;
        text-align: center;
    }

    .circle-center{
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        background-color: #fff;
        background-image: url(../assets/img/user_profile/star.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 40vh 50vh;
        border-radius: 100vw;
        z-index: 1;
        display: flex;
        text-align: center;
    }

    .circle-center .block-get{
        margin: auto;
    }

    .circle-center .block-get div{
        font-size: 5vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
        line-height: 5vw;
    }

    .circle-center .block-get img{
        height: 12vw;
        width: auto;
    }

    .circle-center .block-get span{
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .color-fill{
        background: #FF5A00;
    }

    .color-no-fill{
        background: #FFC08B;
    }

    .box1.color-grad, .box2.color-grad{
        background: linear-gradient(180deg, #FF5A00, #FFC08B);
    }

    .box3.color-grad, .box4.color-grad{
        background: linear-gradient(0deg, #FF5A00, #FFC08B);
    }

    .box{
        width: 49%;
        height: 49%;
        display: inline-block;
        margin: 0.5%;
        position: relative;
    }

    .box1{
        border-radius: 0 100vw 0 0;
    }

    .box2{
        border-radius: 0 0 100vw 0;
    }

    .box3{
        border-radius: 0 0 0 100vw;
    }

    .box4{
        border-radius: 100vw 0 0 0;
    }

    .next-level{
        top: -5vw;
        left: -6.5vw;
        position: absolute;
        border-radius: 100vw;
        background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
        border: 2px solid #FFFFFF;
        width: 12vw;
        height: 12vw;
        z-index: 111;
        color: #fff;
        font-size: 10vw;
        display: flex;
    }

    .next-level span{
        margin: auto;
        text-align: center;
    }

    .next-level ion-icon{
        margin: auto;
        line-height: 0;
    }

    .user-ava-name{
        position: absolute;
        height: 50%;
        z-index: 11;
    }

    /* LEVEL 1 */

    .user-level-1 .user-ava-name {
        left: 71%;
        top: -2.5%;
    }

    .user-level-1 .box1{
        background: linear-gradient(180deg, #FF5A00, #FFC08B); /* GRADIENT */
    }

    .user-level-1 .box2{
        background: #FFC08B; /* NO FILL */
    }

    .user-level-1 .box3{
        background: #FFC08B; /* NO FILL */
    }

    .user-level-1 .box4{
        background: #FFC08B; /* NO FILL */
    }

    /* LEVEL 2 */

    .user-level-2 .user-ava-name {
        left: 68%;
        top: 55%; /* 50-14 = 36/ 36/2 = 18 + 50 */
    }

    .user-level-2 .box1{
        background: #FF5A00;   /* FILL */
    }

    .user-level-2 .box2{
        background: linear-gradient(180deg, #FF5A00, #FFC08B); /* GRADIENT */
    }

    .user-level-2 .box3{
        background: #FFC08B; /* NO FILL */
    }

    .user-level-2 .box4{
        background: #FFC08B; /* NO FILL */
    }

    /* LEVEL 3 */

    .user-level-3 .user-ava-name {
        left: 3%;
        top: 55%; /* 50-14 = 36/ 36/2 = 18 + 50 */
    }

    .user-level-3 .box1{
        background: #FF5A00;   /* FILL */
    }

    .user-level-3 .box2{
        background: #FF5A00;   /* FILL */
    }

    .user-level-3 .box3{
        background: linear-gradient(0deg, #FF5A00, #FFC08B);
    }

    .user-level-3 .box4{
        background: #FFC08B; /* NO FILL */
    }

    .user-level-3 .label-ios{
        background: rgba(0,0,0,0.5);
        color: white;
        border-radius: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border: 1vw solid white;
    }

    .user-level-3 .lbl1, .user-level-3 .lbl2{
        color: #fff;
    }

    /* LEVEL 4 */

    .user-level-4 .user-ava-name {
        left: 3%;
        top: -2.5%;
    }

    .user-level-4 .box1{
        background: #FF5A00;   /* FILL */
    }

    .user-level-4 .box2{
        background: #FF5A00;   /* FILL */
    }

    .user-level-4 .box3{
        background: #FF5A00;   /* FILL */
    }

    .user-level-4 .box4{
        background: linear-gradient(0deg, #FF5A00, #FFC08B);
    }

    .user-level-4 .label-ios{
        background: rgba(0,0,0,0.5);
        color: white;
        border-radius: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border: 1vw solid white;
    }

    .user-level-4 .lbl1, .user-level-4 .lbl2{
        color: #fff;
    }

    .user-ava-name .circle-ava{
        background-color: #fff;
        background-position: 50% 50%;
        background-size: cover;
        width: 14vw;
        height: 14vw;
        border-radius: 100vw;
        border: 2px solid #FFFFFF;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        margin: 0 2vw 0 0;
    }

    .user-ava-name .lbl1{
        font-size: 4vw;
    }

    .user-ava-name .lbl2{
        font-size: 3vw;
    }

    .points{
        background: #FF8B10;
        color: #fff;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 0.7vw;
    }

    .points_friens, .points_redemptions{
        color: #000;
        padding-left: 1.5vw;
        padding-right: 1vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 0.7vw;
        display: inline-block;
        width: 30vw;
    }

    span.label.label-ios.points_friens{
        margin-right: 1vw;
    }

    .points_friens{
        background: #75e3ea;
    }

    .points_redemptions{
        background: #c7e240;
    }

    .main-position-center{
        min-height: calc(95% - 44vw);
        display: flex;
    }

    .right-labels{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
    }

    .item-ios [item-left], .item-ios [item-start] {
        margin: 0;
    }

    .left-name{
        max-width: 32%;
    }

    .btn_icon{
        margin: auto;
        border-radius: 100vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 15vw;
        height: 15vw;

    }

    .btn_icon_offers{
        background: url(../assets/img/user_profile/offers.svg) no-repeat 50% 50%/ 50% 50%;
    }

    .btn_icon_nau{
        background: url(../assets/img/user_profile/nau.svg) no-repeat 50% 50%/ 50% 50%;
    }

    .btn_icon_users{
        background: url(../assets/img/user_profile/users.svg) no-repeat 50% 50%/ 50% 50%;
    }

    .block-featured .item {
        height: 43vw;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
    }
    .block-featured .right-side {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .block-featured .right-side-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2vw;
    }
    .block-featured .smooth_transition {
        width: 83%;
    }
    .block-featured .smooth_transition:before {
        display: none;
    }
    .block-featured a.item.item-block.item-ios {
        padding: 0 0 0 2vw;
    }
    .block-featured div.item.item-block.item-ios {
        padding: 0 0 0 2vw;
        z-index: 0;
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: none;
    }
    .block-featured ion-avatar .info-block img {
        width: 1.9vw;
        margin: 0;
        display: inline;
    }
    .block-featured ion-avatar {
        background-position: 50% 2vw;
        height: 100%;
    }
    .block-featured .info-block {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 2vw;
    }
    .block-featured .icon-star {
        margin-right: 0;
    }
    .block-featured .right-top-angle {
        position: absolute;
        top: -10vw;
        right: -10vw;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 20vw;
        height: 20vw;
        background-color: #FF5A00;
        background-repeat: no-repeat;
        background-position: 50% 90%;
        background-size: 25%;
    }
    .block-featured .right-top-angle.discount {
        background-image: url(../assets/img/place/featured/discount.svg);
        background-position: 50% 100%;
        background-size: 40%;
    }
    .block-featured .right-top-angle.second_free {
        background-image: url(../assets/img/place/featured/second_free.svg);
    }
    .block-featured .right-top-angle.bonus {
        background-image: url(../assets/img/place/featured/bonus.svg);
    }
    .block-featured .right-top-angle.gift {
        background-image: url(../assets/img/place/featured/gift.svg);
    }
    .block-featured .star_right {
        left: 2vw;
        top: 0;
        height: 4vw;
    }
    .block-featured .item-inner,
    .block-featured .input-wrapper {
        width: 100%;
        height: 100%;
    }
    .block-featured .item-ios [item-start] {
        margin: 0 2vw 0 0;
    }
    .block-fr {
        position: absolute;
        bottom: 2vw;
        right: 0;
        width: calc(100% - 27vw);
        color: #fff;
    }
    .block-fr .circle {
        color: #000;
        margin-left: 2vw;
        width: 5vw;
        height: 5vw;
        border-radius: 100vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    .block-fr .circle_num{
        margin-left: 0.5vw;
    }
    .block-fr span.f {
        background: #75e3ea;
        font-weight: 100;
    }
    .block-fr span.r {
        background: #c7e240;
        font-weight: 100;
    }
    .coupon,
    .block-right {
        position: absolute;
        bottom: 0;
    }
    .coupon {
        left: 2vw;
    }
    .block-right {
        right: 2vw;
    }
    .right-block{
        width: 100%;
        height: 100%;
    }
    .block-slider.grid{
        height: 100%;
    }
    .block-slider .item-block-nau.list.list-ios {
        margin: 0;
    }
    .block-slider .item-block-nau .item{
        margin-bottom: 0;
    }
    .block-slider .right-side {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .block-slider .right-side-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2vw;
    }
    .col{
        padding: 0;
    }
    .slider-empty{
        background: url(../assets/img/invite/invite2.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        height: 43vw;
    }
}

.platform-tablet page-user-profile .label-point{
    font-size: 2vh;
}

.platform-tablet page-user-profile .font-22, button.font-22{
    font-size: 2.7vh;
}

.platform-tablet .main-position-center{
    height: calc(100% - 43vw);
    margin-bottom: 5%;
}
