<div margin text-center>
<div margin-top text-uppercase class="text-4F4F4F font-16 bold">{{ 'PAGE_OFFER.CONGRATULATION' | translate }}</div>
<div class="text-3E4B5D font-20 padding-top-25">{{ 'PAGE_OFFER.OFFER_REDEMPTION_COMPLETED_AT' | translate }}
    <br>
    <span class="bold">{{ company?.name }}</span>
</div>
<ng-container *ngIf="offer.points && offer.points >= 1">
    <div class="relative">
        <img class="img_num_points" margin-top margin-bottom src="assets/img/user_offers/congratulation_clear.svg">
        <span class="num_points font-30 text-white extrabold">{{ offer.points }}</span>
    </div>
    <div margin-bottom class="font-16 text-828282">
        {{ 'PAGE_OFFER.WE_ARE' | translate }}
        <br> <span class="bold">
            {{ 'PAGE_OFFER.YOU_EARNED' | translate }} 
            {{ offer.points }} 
            {{ offer.points == 1 ? ('PAGE_OFFER.POINT' | translate) 
            : (offer.points >= 2 && offer.points <=4 ) 
            ? ( 'PAGE_OFFER.POINTS2' | translate) 
            : ( 'PAGE_OFFER.POINTS' | translate) }}! </span>
    </div>
</ng-container>
    <div text-center margin-bottom class="btn_social_icon">
    <!-- <button ion-button icon-only color="transparent" margin-right>
      <img src="assets/img/user_offers/soc_icon1.svg">
    </button>
    <button ion-button icon-only color="transparent" margin-right>
      <img src="assets/img/user_offers/soc_icon2.svg">
    </button> -->
    <button (click)="shareOffer()" ion-button icon-only color="transparent">
      <!--<img src="assets/img/user_offers/soc_icon3.svg">-->
        <img src="assets/img/place/btn_share.svg">
    </button>
  </div>

    <div margin padding-bottom class="block-star">
        <ng-container *ngFor="let showStar of getStars(); let i = index">
            <ion-icon (click)=" setStars(i)" class="text-FEC282 icon-star" name="{{ showStar ? 'star' : 'star-outline' }}"></ion-icon>
        </ng-container>
    </div>

  <div margin>
    <div class="block-btn">
      <button (click)="send()" ion-button block color="primary">{{ 'PAGE_OFFER.SEND_REVIEW' | translate }}</button>
    </div>
  </div>
</div>
