<ion-header>
  <ion-navbar>
    <ion-title>{{ company.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false" margin-no no-margin class="padding-no font-0">
  <div [style.background-image]="'url(' + offer.picture_url + '?size=mobile&)'" class="background_effect"></div>
  <ion-item no-lines color="transparent" class="overflow-visible padding-left-offer padding-top-5vw padding-right-offer">
        <div *ngIf="offer.points && offer.points >= 1" item-start class="relative">
        <div class="user_level font-30 text-white extrabold table">
            <span class="table-cell">{{ offer.points }}</span>
            </div>
        <div class="icon-plus">+</div>
        </div>
        <span *ngIf="offer.points && offer.points >= 1" class="font-16 text-E0E0E0">
            {{ offer.points == 1
            ? ('PAGE_OFFER.POINT' | translate)
            : (offer.points >= 2 && offer.points <= 4)
            ? ('PAGE_OFFER.POINTS2' | translate)
            : ('PAGE_OFFER.POINTS' | translate) }}
        </span>
<div item-end class="btn_social">
        <!--
        <button ion-button icon-only color="white">
          <img src="assets/img/user_offers/icon1.svg">
        </button>
        -->
        <button *ngIf="company.phone" (click)="dial()" ion-button icon-only color="white" class="icon_call"> <!-- call -->
        </button>
        <button *ngIf="company.site" (click)="openSite()" ion-button icon-only color="white" class="icon_web"> <!-- web -->
        </button>
        <button *ngIf="offer.is_favorite" (click)="presentConfirm()" ion-button icon-only color="white" class="icon_bookmarks">
        </button>
        <button *ngIf="!offer.is_favorite" (click)="addFavorite()" ion-button icon-only class="grayscale icon_bookmarks" color="white">
        </button>
        <button (click)="shareOffer()" ion-button icon-only color="white" class="icon_sharing">
        </button>
</div>
</ion-item>

<div class="padding-left-offer padding-top-5vw">
    <ng-container *ngFor="let showStar of getStars(company.stars)">
        <ion-icon class="text-FEC282 font-22 stars" name="{{ showStar ? 'star' : 'star-outline' }}"></ion-icon>
    </ng-container>
    <img class="icon_user" src="assets/img/user_offers/icon_user.svg">
    <span class="font-16 text-E0E0E0">{{ company.redemptions_count }}</span>
    <img class="icon_arrow" src="assets/img/user_offers/icon_arrow.svg">
    <span class="font-16 text-E0E0E0">
        {{ distanceObj?.distance }}
        {{ distanceObj?.key | translate }}
    </span>
</div>

<div
    class="bold font-30 extrabold text-white padding-left-offer padding-right-offer padding-top-5vw text-overflow-3">{{ offer.label }}
</div>

<div text-center class="text-white bold font-16" *ngIf="todayTimeframe"><span class="text-FF5A00">( </span>{{todayTimeframe.from}} - {{todayTimeframe.to}}<span class="text-FF5A00"> )</span></div>

<div
    (click)="openLinkPopover($event)"
    [innerHTML]="offer.rich_description"
    class="text-overflow-6 text-E0E0E0 font-16 padding-left-offer padding-right-offer padding-right-offer">
</div>
<!-- <div margin-top class="text-overflow-6 text-E0E0E0 font-16 padding-left-offer padding-right-offer padding-right-offer">{{ offer.description }}</div> -->

<div class="btn_footer">
    <a (click)="openRedeemPopover()" text-center class="circles">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3">
            <span>{{ 'PAGE_OFFER.REDEEM' | translate }}
                <div class="extrabold" text-uppercase>{{ 'PAGE_OFFER.OFFER' | translate }}</div>
            </span>
        </div>
    </a>
</div>
</ion-content>
