page-offer{
  .scroll-content, .fixed-content{
    margin-top: 0;
  }

  .header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .toolbar-title-ios {
    color: #BDBDBD;
  }

  .content-ios{
    background-image: url(../assets/img/user_offers/img_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .btn_footer{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .circles{
    width: 158px;
    height: 158px;
    position: relative;
    margin: auto auto 15px auto;
  }

  .circle1{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    width: 158px;
    height: 158px;
    opacity: 0.3;
    border-radius: 200px;
    z-index: 0;
  }

  .circle2{
    position: absolute;
    left: 11px;
    top: 11px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    width: 136px;
    height: 136px;
    opacity: 0.5;
    border-radius: 200px;
    z-index: 1;
  }

  .circle3{
    position: absolute;
    left: 24px;
    top: 24px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    width: 110px;
    height: 110px;
    opacity: 1;
    border-radius: 200px;
    z-index: 2;
    display: table;
  }

  .circle3 span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    color: #fff;
    font-weight: bold;
  }

  .footer.footer-ios {
    border-top: none;
    min-height: 178px;
  }

  .btn_social .button {
    width: 30px;
    height: 30px;
  }

  .user_level{
    background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
    border-radius: 100px;
    padding: 8px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: 800;
  }

  .icon-plus{
    position: absolute;
    top: -7px;
    left: -7px;
    background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
    border-radius: 100px;
    width: 26px;
    height: 26px;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
  }

  .icon_plus{
    position: absolute;
    left: 0;
    top: 0;
  }

  .padding-left-offer{
    padding-left: 25px;
  }

  .padding-right-offer{
    padding-right: 25px;
  }

  .padding-top-25{
    padding-top: 25px;
  }

  .padding-top-35{
    padding-top: 35px;
  }
}

redeemed-popover-component {
  .block-btn{
    width: 60%;
    margin-left: 20%;
  }
}

congratulation-popover-component {
  .btn_social_icon .button {
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 1px solid #E0E0E0;
  }

  .padding-top-25{
    padding-top: 25px;
  }
}
