<div class="modal_create">
  <ion-content padding>
     <p text-uppercase text-center margin-bottom>Get account for business</p>
     <p text-center>
        <img src="assets/img/settings/icon_modal.png" />
     </p>
     <div class="why" margin-top margin-left margin-right>
        Why i need Account for business?<br> - it helps me advertise my business<br> - brand new clients get know
        about me<br> - good opportunity to earn money
     </div>
     <p>
        <button (click)="close()" color="dark" ion-button block>Try it for free</button>
     </p>
  </ion-content>
</div>
