<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGE_SETTINGS.SETTINGS' | translate }}</ion-title>
    <!--
    <a (click)="saveProfile()">
      <ion-icon padding-right color="dark" class="font-300" name="checkmark"></ion-icon>
    </a>
    -->
  </ion-navbar>
  <div class="header-shadow"></div>
</ion-header>

<ion-content class="padding-no">
  <div padding-top class="block-lines-bottom-left-right">
    <a class="select" (click)="toggleAccountsChoiceVisible()">
      <span text-uppercase class="font-14 text-4F4F4F">
        {{ 'PAGE_SETTINGS.CHOOSE_YOUR_ACCOUNT' | translate }}
        <span text-lowercase>({{ 'PAGE_SETTINGS.HIDE' | translate }})</span>
      </span>
      <ion-icon class="text-828282 icon" *ngIf="isAccountsChoiceVisible" name="arrow-down"></ion-icon>
      <ion-icon class="text-828282 icon" *ngIf="!isAccountsChoiceVisible" name="arrow-up"></ion-icon>
    </a>
  </div>

  <div *ngIf="!isAccountsChoiceVisible" class="block-lines">
    <ion-grid class="ava_user_adv">
      <ion-row text-center align-items-center>
        <ion-col>
          <div margin-top
              class="thumb_image"
              [ngStyle]="{'background-image': 'url(' + user.picture_url + '?' + time + '), url(assets/img/create_user_profile/people.svg)'}">
        </div>
          <!-- <img margin-top [src]="user.picture_url"> -->
          <div class="font-16 text-3E4B5D bold padding-top-3vw">{{ 'PAGE_SETTINGS.CLIENT' | translate }}</div>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-toggle disabled (ionChange)="toggleAdvMode()" [(ngModel)]="isAdvMode"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col>
          <div margin-top
              class="thumb_image"
              [ngStyle]="{'background-image': 'url(' + advPicture_url + '?' + time + '), url(assets/img/create_user_profile/people.svg)'}">
        </div>
          <div class="font-16 text-BDBDBD bold padding-top-3vw">{{ 'PAGE_SETTINGS.ADVERTISER' | translate }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <p *ngIf="isAdvMode" margin>
    <button (click)="openAdvRedeem()" color="primary" ion-button block>{{ 'PAGE_SETTINGS.CONFIRM_REDEMPTION' | translate }}</button>
  </p> -->

  <div class="block-lines">
    <div text-uppercase class="font-14 text-4F4F4F">{{ 'PAGE_SETTINGS.YOUR_INVITE_CODE' | translate }}</div>
  </div>

  <div class="block-lines">
    <ion-item class="bg-gray">
      <ion-label margin-left class="text-3E4B5D font-16">{{ user.invite_code }}</ion-label>
    </ion-item>
  </div>

  <div class="block-lines">
    <div text-uppercase class="font-14 text-4F4F4F">{{ 'PAGE_SETTINGS.CHANGE_YOUR_PHONE_NUMBER' | translate }}</div>
  </div>

  <div class="block-lines block-phone">
    <ion-grid class="bg-gray">
      <ion-row align-items-center>
        <ion-col col-8 text-left padding-left>
          <div class="text-3E4B5D font-16">{{ user.phone }}</div>
        </ion-col>
        <ion-col col-4>
          <ion-item no-lines text-right>
            <button (click)="openChangePhone()"
                    color="primary"
                    ion-button
                    round
                    class="font-12 regular">
            {{ 'PAGE_SETTINGS.CHANGE' | translate }}
          </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <!--

    <div class="block-lines">
        <div text-uppercase class="font-14 text-4F4F4F">{{ 'PAGE_SETTINGS.LANG' | translate }}</div>
    </div>

    <div class="block-lines">
        <div no-lines>
            <ion-item class="bg-gray" detail-push>
                <ion-select [(ngModel)]="lang"
                            (ionChange)="changeLang()"
                            multiple="false"
                            interface="popover"
                            class="selected-lang">
                    <ion-option *ngFor="let lang of langs" [value]="lang">{{ lang }}</ion-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
   -->

  <div class="block-lines">
    <div text-uppercase class="font-14 text-4F4F4F">{{ 'PAGE_SETTINGS.PRIVATE_DATA' | translate }}</div>
  </div>

  <div class="block-lines" mode="md">
    <ion-item class="bg-gray margin-bottom-small">
      <ion-label margin-left item-end class="text-3E4B5D font-16">{{ 'PAGE_SETTINGS.SHOW_MY_PRIVATE_DATA' | translate }}</ion-label>
      <ion-checkbox disabled [(ngModel)]="showData" item-end></ion-checkbox>
    </ion-item>
    <ion-item class="bg-gray margin-bottom-small">
      <ion-label margin-left item-end class="text-3E4B5D font-16">{{ 'PAGE_SETTINGS.SHOW_MY_PHONE_NUMBER' | translate }}</ion-label>
      <ion-checkbox disabled [(ngModel)]="showPhone" item-end></ion-checkbox>
    </ion-item>
    <ion-item class="bg-gray">
      <ion-label margin-left item-end class="text-3E4B5D font-16">{{ 'PAGE_SETTINGS.SHOW_MY_EMAIL_ADDRESS' | translate }}</ion-label>
      <ion-checkbox disabled [(ngModel)]="showEmail" item-end></ion-checkbox>
    </ion-item>
  </div>

  <!-- <div class="block-lines">
    <a class="text-4F4F4F font-14" (click)="toggleSelectRadiusVisible()">{{ 'PAGE_SETTINGS.SET_RADIUS' | translate }}</a>
  </div>
  <ion-item (click)="toggleSelectRadiusVisible()" *ngIf="isSelectRadiusVisible" margin-top margin-bottom padding-left padding-right
    class="border-bottom-no">
    <ion-label>{{ 'PAGE_SETTINGS.OFFERS_RADIUS' | translate }}</ion-label>
    <ion-select [(ngModel)]="radius" (ionChange)="toggleSelectRadiusVisible()" (ionCancel)="toggleSelectRadiusVisible()" placeholder="50 {{ 'UNIT.M' | translate }}"
      name="radius" class="bg-gray width-100" interface="action-sheet">
      <ion-option *ngFor="let radius of radiuses" [value]="radius">{{ radius }} {{ 'UNIT.M' | translate }}</ion-option>
    </ion-select>
  </ion-item> -->

  <div *ngIf="!coords.lat" padding-left class="font-12 text-4F4F4F">{{ 'UNIT.DETECTING_YOUR_LOCATION' | translate }}</div>

  <div *ngIf="coords.lat" class="block-map">
    <div class="leaflet-map" leaflet [leafletOptions]="options">
    </div>
    <div id="marker"></div>
  </div>
  <p margin>
    <button (click)="saveProfile()" color="primary" ion-button block>{{ 'PAGE_SETTINGS.SAVE_CHANGES' | translate }}</button>
  </p>
</ion-content>
