page-user-tasks{
  .flex span{
    margin: auto;
  }

  .top-block-nau {
    overflow: visible;
  }

  .top-block-nau ion-avatar{
    height: inherit;
  }

  .top-block-nau ion-avatar img{
    border-radius: 100px;
  }

  .user_level{
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
    border-radius: 100px;
    padding: 8px;
  }

  .grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
