page-user-tasks{
  .flex span{
    margin: auto;
  }

  .top-block-nau {
    overflow: visible;
  }

  .top-block-nau ion-avatar{
    height: inherit;
  }

  .user_level{
    position: absolute;
    right: -4vw;
    bottom: -4vw;
    border-radius: 100vw;
    height: 10vw;
    width: 10vw;
    background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
  }

  .grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .top-block-nau .star_right {
    top: 0;
    right: 0;
  }

    .top-block-nau.item-ios ion-avatar img{
        border-radius: 100vw;
        width: 15vw;
        height: 15vw;
    }

    .top-block-nau.item-ios ion-avatar {
        margin: 0 5vw 0 0;
    }

    .top-block-nau .star_right img{
        height: 7.7vw;
        width: auto;
    }

    .card{
        height: 5vw;
        width: auto;
    }

    .item-block-nau.list.list-ios{
        margin: 0;
    }
}
