page-create-advUser-profile {
  .cover{
    background: linear-gradient(89.86deg, #FF5A00 0.03%, #FF8B10 99.98%);
  }

  .cover_logo{
      background-color: #fff;
      background-image: url(../assets/img/create_advuser_profile/dotted.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 80% 80%;
      display: table;
  }

  .cover_logo span{
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 4.5vw;
  }

  .btn_right{
      position: absolute;
      right: 4.3vw;
      bottom: 4.1vw;
      background: #fff;
      border-radius: 100vw;
      height: 6vw;
      color: #3E4B5D;
  }

    .padding-top-9vw{
        padding-top: 9vw;
    }

  .relative{
    position: relative;
  }

  agm-map {
    height: 200px;
    border-radius: 50px;
  }

    .select-ios .select-icon{
        display: none;
    }

}
