page-create-advUser-profile {
    .cover {
        background-image: linear-gradient(89.86deg, #FF5A00 0.03%, #FF8B10 99.98%);
    }

    .cover_logo_adv {
        position: absolute;
        left: 4.8%;
        bottom: -11vw;
        width: 22vw;
        height: 22vw;
        border-radius: 100vw;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        z-index: 11111111;
        background-color: #fff;
        background-image: url(../assets/img/create_advuser_profile/dotted.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80% 80%;
        display: table;
    }

    .cover_logo_adv span {
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        line-height: 4.5vw;
    }

    .btn_right {
        position: absolute;
        right: 4.3vw;
        bottom: 4.1vw;
        background: #fff;
        border-radius: 100vw;
        height: 6vw;
        color: #3E4B5D;
    }

    .padding-top-9vw {
        padding-top: 9vw;
    }

    .label-ios {
        margin: 0;
    }

    agm-map {
        height: 250px;
    }

    .leaflet-map {
        height: 250px;
        z-index: 111;
    }

    .block-map {
        position: relative;
    }

    #marker {
        position: absolute;
        z-index: 111;
        background-color: rgba(255, 139, 16, 0.2);
        background-image: url(../assets/img/create_user_profile/pin.svg);
        background-position: 50% 60px;
        background-size: auto 35px;
        background-repeat: no-repeat;
        width: 190px;
        height: 190px;
        left: calc(50% - 95px);
        top: 30px;
        border-radius: 100vw;
        pointer-events: none;
    }

    .select-ios .select-icon {
        display: none;
    }

    .category img {
        width: 6.5vw;
        margin-left: 2vw;
        height: auto;
    }

    .choose-img {
        height: 7vw;
        width: auto;
    }
}

create-advUser-profile-category-popover {
    .item-ios {
        padding-left: 0;
        margin-bottom: 7vw;
    }

    .block-checks img {
        height: 7.8vw;
        width: auto;
    }

    .block-img-category {
        width: 23vw;
        text-align: center;
    }

    .modal_content {
        padding-top: 8vw;
        padding-right: 6vw;
        padding-left: 3vw;
        padding-bottom: 17vw;
    }
}

create-advUser-profile-popover-tags,
create-advUser-profile-popover-types,
create-advUser-profile-popover-features {
    .modal_content {
        padding-top: 16vw;
        padding-right: 7vw;
        padding-left: 7vw;
        padding-bottom: 21vw;
    }

    .item-ios.item-block .item-inner {
        padding-right: 0;
    }

    .item-block {
        min-height: 3.4rem;
    }

    .checkbox-ios .checkbox-icon {
        background-color: #fff;
        background-image: none;
    }

    .footer_btn .grid {
        padding-bottom: 0;
    }

    .item.item-ios .checkbox-ios[item-right], .item.item-ios .checkbox-ios[item-end]{
        margin: 0;
    }

    ion-item.item.item-block.item-ios.item-checkbox{
        padding-left: 0;
    }
}

create-advUser-profile-popover-features {
    .modal_content {
        padding-bottom: 21vw;
    }

    .bg-gray {
        border: none;
        background: #E0E0E0;
        padding-right: 5%;
    }

    .bg-gray img {
        display: flex;
        height: 2.5vw
    }

    .item-ios.item-block .item-inner {
        padding-right: 0;
    }

    .item-block {
        min-height: 3.4rem;
    }

    .checkbox-ios .checkbox-icon {
        background-color: #fff;
        background-image: none;
    }

    .margin-left-2proc {
        margin-left: 2%;
    }

    .margin-right-2proc {
        margin-right: 2%;
    }

    .footer_btn .grid {
        padding-bottom: 0;
    }

    .item.item-ios .checkbox-ios[item-right],
    .item.item-ios .checkbox-ios[item-end] {
        margin: 0 2.3vw;
    }

    .group {
        margin-bottom: 3vw;
        border: rgb(190, 192, 196) 1px solid;
    }
}
