// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'OpenSansNauLight';
  src: url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSansNauSemibold';
    src: url('../assets/fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'OpenSansNauExtrabold';
    src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}

.link-nau{
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 4.2vw;
  text-align: center;
  text-transform: uppercase;
  color: #FF5A00;
}

.title-big-sign{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 8vw;
  color: #3E4B5D;
  font-family: 'OpenSansNauLight';
}

.bg-gray-nau{
  background: #F2F2F2;
}

.bg-white-nau{
  background: #fff;
}

.bg-FF8B10{
  background: #FF8B10;
}

button[ion-button] {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-ios-primary {
  background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 16px;
}

.button-ios-secondary {
  background: linear-gradient(180deg, #D9D9D9 0%, #B7B7B7 98.9%);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 16px;
}

.button-circle-small{
  width: 30px;
  height: 30px;
  font-size: 11px;
}

.button-circle-medium{
  width: 40px;
  height: 40px;
  font-size: 11px;
}

.toast-message {
  white-space: pre;
}

.logo {
    width: auto;
    height: 22vw;
    margin: 12vw auto 17vw auto;
    background: url(../assets/img/logo.svg) no-repeat center center;
    background-size: contain;
}

.logo-margin {
    width: auto;
    height: 22vw;
    margin: 27vw auto 17vw auto;
    background: url(../assets/img/logo.svg) no-repeat center center;
    background-size: contain;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  border-width: 0;
}

ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, dark);
}

.bold{
  font-weight: bold;
}

.extrabold{
  font-family: 'OpenSansNauExtrabold';
}

.no-bold{
  font-weight: normal;
}

.no-bold.button{
  font-weight: normal;
}

.text-family-light, .regular{
  font-family: 'OpenSansNauLight';
}

.semibold{
    font-family: 'OpenSansNauSemibold';
}

.font-0{
    font-size: 0;
}

.font-10{
  font-size: 10px;
    font-size: 2.5vw;
}

.font-12{
  font-size: 12px;
  font-size: 3vw;
}

.font-14{
  font-size: 14px;
  font-size: 3.7vw;
}

.font-16{
  font-size: 16px;
  font-size: 4.2vw;
}

.font-18{
  font-size: 18px;
  font-size: 4.7vw;
}

.font-20{
  font-size: 20px;
    font-size: 5vw;
}

.font-22{
  font-size: 22px;
  font-size: 5.7vw;
}

.font-30{
  font-size: 30px;
}

.font-36{
  font-size: 36px;
    font-size: 9vw;
    line-height: 9vw;
}

.font-40{
  font-size: 40px;
  font-size: 10vw;
  line-height: 10vw;
}

.font-50{
  font-size: 50%;
}

.font-65{
  font-size: 11px;
}

.font-75{
  font-size: 12px;
  font-size: 3vw;
}

.font-125{
  font-size: 125%;
}

.font-150{
  font-size: 150%;
}

.font-175{
  font-size: 175%;
}

.font-200{
  font-size: 200%;
}

.font-250{
  font-size: 250%;
}

.font-300{
  font-size: 300%;
}

// text colors
.text-white {
  color: #fff;
}

.text-gray {
  color: #3E4B5D;
}

.text-lightgray{
  color: #d8d8d8;
}

.text-black {
  color: black;
}

.text-transparent{
  color: transparent;
}

.text-3E4B5D{
  color: #3E4B5D;
}

.text-4F4F4F{
  color: #4F4F4F;
}

.text-828282{
  color: #828282;
}

.text-FF8B10{
  color: #FF8B10;
}

.text-BDBDBD{
  color: #BDBDBD;
}

.text-FEC282{
  color: #FEC282;
}

.text-FF5A00{
  color: #FF5A00;
}

.text-333333{
  color: #333333;
}

.text-E0E0E0{
  color: #E0E0E0;
}

.text-filed-radius{
  background: #dbd8d8;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  border-radius: 100px;
}

ion-app.md [padding], ion-app.md [padding] .padding-no .scroll-content,
ion-app.ios [padding], ion-app.ios [padding] .padding-no .scroll-content{
  padding: 0;
}

.border-bottom-no .list-md .item-block .item-inner,
.border-bottom-no.item-md.item-block .item-inner,
.border-bottom-no .list-ios .item-block .item-inner,
.border-bottom-no.item-ios.item-block .item-inner{
  border-bottom: none;
  padding-right: 0;
}

// .select-left .select-md .select-icon,
//.select-left .select-ios .select-icon{
//  right: 17px;
//}

.border-bottom-no .label-md,
.border-bottom-no .label-ios {
  margin: 0;
}

.border-bottom-no .label-md,
.border-bottom-no .label-ios{
  margin: 0;
}

.button[icon-only] {
  box-shadow: none;
}

.button[icon-only]:active {
  box-shadow: none;
}

.width-25{
  min-width: 25%;
}

.width-50{
  min-width: 50%;
}

.width-75{
  min-width: 75%;
}

.width-100{
  min-width: 100%;
}

.width-88{
    width: 88%;
}

.bg-gray{
  border-radius: 100px;
  border: 1px solid #E0E0E0;
}

.bg-gray-radius-small{
  border-radius: 20px;
  border: 1px solid #E0E0E0;
}

.bg-gray.item-ios.item-block .item-inner{
  border-bottom: 0;
}

.bg-gray-left{
  border-radius: 100px 0 0 100px;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 4.3vw;
  text-transform: uppercase;
  color: #828282;
}

.bg-gray-right{
  border-radius: 0 100px 100px 0;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.bg-graylight-right{
  border-radius: 0 100px 100px 0;
  background: #EAEAEA;
}

.bg-graydark-left{
  border-radius: 100px 0 0 100px;
  background: lightgray;
}

.bg-graydark-right{
  border-radius: 0 100px 100px 0;
  background: lightgray;
}

.bg-gray-block{
  border-radius: 20px;
  background: #EAEAEA;
}

.bg-gray-block .item{
  background: transparent;
}

.bg-gray-block .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
.bg-gray-block .item-block:first-child, .list-ios > .item-wrapper:first-child .item-block{
  border: none;
}

.bg-gray-block [item-left], .bg-gray-block [item-start], .bg-gray-block [item-right], .bg-gray-block [item-end], .bg-gray-block .item-ios ion-avatar[item-left], .bg-gray-block .item-ios ion-thumbnail[item-left], .bg-gray-block .item-ios ion-avatar[item-start], .bg-gray-block .item-ios ion-thumbnail[item-start]{
  margin: 4px;
  padding: 4px;
}

.bg-gray-block [item-start] img{
  border-radius: 0;
}

.border-bottom-gray{
  border-bottom: 1px solid #d8d8d8;
}

.label-left{
  padding: 3vw 4vw 3vw 6vw;
  color: map-get($colors, dark);
}

.item-md, .item-ios{
  padding-left: 0;
}

.icon-large{
  font-size: 50px;
}

.icon-medium{
  font-size: 35px;
}

.icon-small{
  font-size: 20px;
}

.icon-small-s{
  font-size: 10px;
}

.accord-visibility{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.accord-hidden{
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.text-input-ios {
  margin: 0;
  padding: 10.5px;
  width: 100%;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
  margin-left: 0;
  width: 100%;
}

.toolbar-title-ios{
  font-family: 'OpenSansNauSemibold';
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  font-size: 4vw;
  font-weight: normal;
}

.toolbar-ios {
  padding: 0;
  min-height: 14vw;
}

.toolbar-ios ion-title{
  padding: 0 10px 1px;
}

.btn-add-border-out{
  -moz-outline-radius: 100px;
  outline: 1px dashed #aea9a9;
  outline-offset: 2px;
}

.list .item-block:first-child {
  border-top: none;
}

.list .item-block:last-child {
  border-bottom: none;
}

.grid-tabs{
  padding: 0;
  background: #b6b6b6;
}

.grid-tabs .col{
  padding: 8px;
}

.grid-tabs .col.active, .grid-tabs .col:active, .grid-tabs .col:hover{
  background: gray;
}

.grid {
  padding: 0;
}

.margin-no{
  margin: 0;
}

.select-ios .select-placeholder{
  color: #828282;
}

.footer.footer-ios {
  border-top: 1px solid #F2F2F2;
  height: 25vw;
  padding: 7vw;
}

.no-border.footer.footer-ios {
  border-top: none;
}

.header{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.margin-bottom-small{
  margin-bottom: 5px;
}

.block-lines{
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-left: 4.3vw;
  padding-right: 4.3vw;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.block-lines-bottom-left-right{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #F2F2F2;
}

/* BLOCK TOP & ITEMS SHADOW */
.top-block-nau ion-avatar {
  border-radius: 0;
  height: 10vw;
}

.top-block-nau [item-end] {
  margin: 0;
}

.item-block-nau .item-ios ion-avatar img{
  border-radius: 0;
  height: inherit;
  max-width: 23vw;
  max-height: 23vw;
  width: 23vw;
}

.top-block-nau.item-ios ion-avatar img{
    border-radius: 0;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    width: inherit;
}

.top-block-nau.item-ios ion-avatar{
    margin: 0 2.9vw 0 0;
}

.top-block-nau [item-end] a img{
    height: 7.7vw;
    width: auto;
}

.item-block-nau .item{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  margin-bottom: 3%;
  padding: 2vw;
}

.item-block-nau .input-wrapper .label-ios, .item-block-nau-slider .input-wrapper .label-ios{
  margin: 0;
}

.item-block-nau .input-wrapper ion-label, .item-block-nau-slider .input-wrapper ion-label{
  height: 100%;
}
.item-block-nau-slider .item {
  padding: 15px;
}
.item-block-nau-slider .item-wrapper{
  margin-bottom: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.top-block-nau .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start],
.item-block-nau .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start]{
  margin-top: 0;
  margin-bottom: 0;
}

.item-block-nau .item-ios [item-right], .item-ios [item-end]{
  margin: 0;
}

.item-block-nau .item-ios.item-block .item-inner{
  padding-right: 0;
}

.item-block-nau.list.list-ios {
    margin: 5vw 0 5vw;
}

/* TABS */
.grid-tabs-splash{
  background: linear-gradient(89.83deg, #FF5A00 0.05%, #FF8B10 99.97%);
  font-size: 2.8vw;
  line-height: 4vw;
}

.grid-tabs-splash .col img {
    max-width: 100%;
    height: 100%;
}

.grid-tabs-splash .row {
    display: table;
    width: 100%;
    padding: 2%;
}

.grid-tabs-splash .col {
    display: table-cell;
    width: auto;
    width: 25vw;
}

.grid-tabs-splash p{
  margin-top: 0;
  margin-bottom: 10px;
}

.grid-tabs-splash span{
    margin-bottom: 9px;
}

/* SEARCH */
.block-search{
  position: relative;
}

.btn_search_settings img{
  position: absolute;
  right: 21vw;
  bottom: 2vw;
  height: 92%;
  width: 7.5vw;
}

.searchbar-ios{
  background: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  min-height: 42px;
  width: 77vw;
  height: 10vw;
}

.searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 6vw;
}

.block-search .label-ios{
    margin: 0 0 3vw 0;
}

.searchbar-ios .searchbar-input{
    height: 7vw;
    padding: 0 10vw;
    font-size: 3.7vw;
}

.searchbar-ios .searchbar-search-icon{
  background-image: url(../assets/img/search.svg);
  background-size: contain;
  width: 4.3vw;
  height: 4.3vw;
  left: 3px;
  top: 1.5vw;
}

.searchbar-ios .searchbar-clear-icon{
    right: 0;
    width: 10vw;
    height: 100%;
    background-size: 8vw;
    background-color: #fff;
    z-index: 111;
    border-radius: 0;
}

.searchbar-ios .button-clear-ios:hover:not(.disable-hover){
    opacity: 1;
}

/* SEGMENT */
.segment-ios{
    width: 100%;
}

.segment-ios .segment-button{
  border: none;
  color: #828282;
  font-size: 3vw;
  line-height: 10vw;
  height: 10.5vw;
}

.segment-ios .segment-button.segment-activated{
  background: transparent;
  color: #FF5A00;
}

/* SEGMENT NAU */
.nau-segment.segment-ios .segment-button{
  border: 1px solid #FF8B10;
  color: #FF8B10;
}

.nau-segment.segment-ios .segment-button.segment-activated{
  background: #FF8B10;
  color: #FFF;
}

.nau-segment.segment-ios .segment-button:first-of-type {
  border-top-left-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 100px;
}

.nau-segment.segment-ios .segment-button:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0;
}

.wrap{
  white-space: normal;
}

.wrap-no{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.italic{
  font-style: italic;
}

/* RADIO MD */
.radio-nau .radio {
  padding: 14px;
}

.item-radio.item-ios ion-label {
  margin-left: 20px;
}

.radio-nau .item {
  margin-bottom: 10px;
}

.radio-nau .radio-icon{
  width: 17px;
  height: 17px;
  border: 1px solid #E0E0E0;
}

.radio-nau .radio-inner {
  left: 2px;
  top: 2px;
  width: 10.5px;
  height: 10.5px;
  background: linear-gradient(89.37deg, #FF5A00 0.65%, #FF8B10 99.57%);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.radio-nau .item-radio-checked ion-label{
  color: inherit;
}

.radio-nau.radio-nau-no-margin .label{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 20px;
}

/* PROGRESS BLOCK PAGE CREATE OFFER */

.progress-block {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
}

.progress-block .circle{
  width: 5vw;
  height: 5vw;
  border: 2px solid #F2F2F2;
  border-radius: 5vw;
  z-index: 2;
  background: #F2F2F2;
}

.progress-block .fill-first{
  background: #FF5A00;
}

.progress-block .fill-last{
  background: #FF8B10;
}

.progress-block .progress-line{
  width: 100%;
  position: absolute;
  left: 0;
  top: 2vw;
  height: 2vw;
  background: #F2F2F2;
  z-index: 0;
  border-radius: 2vw;
}

.progress-block .progress-line-fill{
  position: absolute;
  left: 2vw;
  top: 2.5vw;
  height: 1vw;
  background: linear-gradient(89.93deg, #FF5A00 0.01%, #FF8B10 99.99%);
  z-index: 3;
  border-radius: 2vw;
}

::-webkit-scrollbar {
  display: none;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-10{
  margin: 10px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-bottom-5{
    margin-bottom: 5px;
    margin-bottom: 2.4%;
}

.margin-bottom-2vw{
    margin-bottom: 2vw;
}

.margin-top-2proc{
    margin-top: 2%;
}

.margin-top-6vw{
    margin-top: 6vw;
}

.margin-left-6vw{
    margin-left: 6vw;
}

.margin-top-5vw{
    margin-top: 5vw;
}

.margin-top-1vw{
    margin-top: 1vw;
}

.margin-bottom-3vw{
    margin-bottom: 3vw;
}

.padding-10{
    padding: 10px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-right-5{
    padding-right: 5px;
}

.padding-sign .fixed-content, .padding-sign .scroll-content{
    padding-left: 13.5vw;
    padding-right: 13.5vw;
}

.padding-top-5vw{
    padding-top: 5vw;
}

.padding-top-3vw{
    padding-top: 3vw;
}

.padding-bottom-5vw{
    padding-bottom: 5vw;
}

.padding-left-5vw{
    padding-left: 5vw;
}

.padding-right-5vw{
    padding-right: 5vw;
}

/* HEADER. Page places */
.cover{
  width: 100%;
  height: 20vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.cover .cover_logo{
  position: absolute;
  left: 4.8%;
  bottom: -11vw;
  width: 22vw;
  height: 22vw;
  border-radius: 100px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.cover_block_btn{
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.cover_block_btn .button{
  width: 8vw;
  height: 8vw;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.cover_block_btn .button img{
    width: 60%;
    height: auto;
}

.relative{
  position: relative;
}

.display-table{
  display: table;
  width: 100%;
}

.display-table span, .display-table div{
  display: table-cell;
}

.star_right{
  position: absolute;
  right: 10px;
  top: 10px;
}

.num_right {
    position: absolute;
    right: 3%;
    bottom: 7%;
}

.flex{
  display: flex;
  display: -webkit-flex;
}

.plus{
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.type-food{
    border: 0.3vw solid rgba(62, 75, 93, 0.5);
    padding: 0.8vw;
    font-size: 2.3vw;
    color: #3E4B5D;
    border-radius: 1vw;
    margin-right: 1.5vw;
    margin-top: 2vw;
    display: inline-block;
}

.radius{
  border-radius: 100px;
}

.checkbox-ios .checkbox-icon {
  border: none;
  background-color: #fff;
  background-image: url(../assets/img/checkbox_not_active.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.checkbox-ios .checkbox-icon.checkbox-checked {
  border: none;
  background-color: #fff;
  background-image: url(../assets/img/checkbox_active.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.text-overflow-35{
  max-height: 8vw;
  height: auto;
  display: block;
  overflow: hidden;
}

.text-overflow-54{
  height: 54px;
  overflow: hidden;
}

.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popover-ios .popover-content{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.overflow-visible{
  overflow: visible;
}

.active_cat{
  opacity: 0.5;
}

/* FIX KEYBOARD SCROLL
.input-cover {
  position: static;
}*/

.item-multiple-inputs ion-select{
  z-index: 1;
}

.tabs-ios .tabbar{
    background: #fff;
    box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.12);
    border-top: none;
}

.letter-spacing-1{
    letter-spacing: 1px;
}

.item-ios[detail-push] .item-inner{
    background-position: right 3px center;
}

.item-ios[detail-push]{
    padding-right: 0;
}

.item-ios[detail-push] .item-inner .input-wrapper{
    padding-right: 15px;
}

a:active{
    opacity: 0.5;
}

.item-ios.activated {
    background-color: inherit;
    opacity: 0.5;
}

.select-ios .select-icon .select-icon-inner{
    left: -10px;
    margin-top: 0;
}

.popover-content{
    overflow: hidden;
}

.popover-viewport{
    overflow: scroll;
}

.block-lines .item:last-child{
    margin-bottom: 0;
}

.searchbar-right-block{

}

.btn_map1{
    position: absolute;
    bottom: 2vw;
    height: 92%;
    width: 5.6vw;
    right: 5.6vw;
}

.btn_map2{
    position: absolute;
    bottom: 2vw;
    height: 92%;
    width: 7.5vw;
    right: 5vw;
}

.icon-star{
    font-size: 3.3vw;
    margin-right: 0.9vw;
}

ion-app.ios [padding-right], ion-app.ios [padding-right] .scroll-content{
    padding-right: 5%;
}

ion-app.ios [padding-left], ion-app.ios [padding-left] .scroll-content{
    padding-left: 5%;
}

ion-app.ios [padding-top], ion-app.ios [padding-top] .scroll-content{
    padding-top: 5%;
}

ion-app.ios [padding-bottom], ion-app.ios [padding-bottom] .scroll-content{
    padding-bottom: 5%;
}

ion-app.ios [padding], ion-app.ios [padding] .scroll-content{
    padding: 5%;
}

ion-app.ios [margin-top], ion-app.ios [margin-top] .scroll-content{
    margin-top: 5%;
}

ion-app.ios [margin-bottom], ion-app.ios [margin-bottom] .scroll-content{
    margin-bottom: 5%;
}

ion-app.ios [margin-left], ion-app.ios [margin-left] .scroll-content{
    margin-left: 5%;
}

ion-app.ios [margin-right], ion-app.ios [margin-right] .scroll-content{
    margin-right: 5%;
}

ion-app.ios [margin], ion-app.ios [margin] .scroll-content{
    margin: 5%;
}

.bg-gray .select-text{
    padding-right: 2vw;
}

.icon_people{
    width: 1.9vw;
    margin-left: 7%;
    margin-right: 1vw;
}

.icon_arrow{
    width: 1.9vw;
    margin-left: 7%;
    margin-right: 1vw;
}

.margin-0{
    margin: 0;
}

.item-block{
    min-height: inherit;
}

.item-ios ion-avatar{
    min-width: inherit;
    min-height: inherit;
}

.item-ios.item-block .item-inner{
    padding-right: 0;
}

.select.select-ios{
    padding: 3vw 6.3vw 3vw 6.3vw;
    max-width: 100%;
    font-size: 4.2vw;
}

.text-input-ios{
    padding: 3vw 6.3vw 3vw 6.3vw;
    font-size: 4.2vw;
}

.item-ios, .button-ios{
    font-size: 4.2vw;
}

.item-ios .item-button {
    font-size: 2.6vw;
}

.btn_header img{
    width: 7.2vw;
    height: 7.2vw;
}
