// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button[ion-button] {
  border-radius: 30px;
}

.toast-message {
  white-space: pre;
}

.logo {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background: url("../assets/img/logo_start.png") no-repeat center center;
  background-size: contain;
}

.font-50{
  font-size: 50%;
}

.font-75{
  font-size: 75%;
}

.font-125{
  font-size: 125%;
}

.font-150{
  font-size: 150%;
}

.font-175{
  font-size: 175%;
}

.font-200{
  font-size: 200%;
}

.font-250{
  font-size: 200%;
}

.font-300{
  font-size: 200%;
}

// text colors
.text-white {
  color: #fff;
}

.text-gray {
  color: gray;
}

.text-black {
  color: black;
}

.text-filed-radius{
  background: #dbd8d8;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  border-radius: 100px;
}

ion-app.md [padding], ion-app.md [padding] .padding-no .scroll-content{
  padding: 0;
}

.border-bottom-no .list-md .item-block .item-inner, .border-bottom-no.item-md.item-block .item-inner{
  border-bottom: none;
  padding-right: 0;
}

.border-bottom-no .select-md .select-icon{
  right: 17px;
}

.border-bottom-no .label-md{
  margin: 0;
}


.button[icon-only] {
  box-shadow: none;
}

.button[icon-only]:active {
  box-shadow: none;
}

.width-25{
  min-width: 25%;
}

.width-50{
  min-width: 50%;
}

.width-75{
  min-width: 75%;
}

.width-100{
  min-width: 100%;
}

.bg-gray{
  border-radius: 100px;
  background: lightgray;
}

.item-md{
  padding-left: 0;
}
