// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'OpenSansNauLight';
  src: url('../assets/fonts/OpenSans-Light.ttf');
}

.link-nau{
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FF5A00;
}

.title-big-sign{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: #3E4B5D;
  font-family: 'OpenSansNauLight';
}

.bg-gray-nau{
  background: #F2F2F2;
}

.bg-white-nau{
  background: #fff;
}

.bg-FF8B10{
  background: #FF8B10;
}

button[ion-button] {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-ios-primary {
  background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 16px;
}

.button-ios-secondary {
  background: linear-gradient(180deg, #D9D9D9 0%, #B7B7B7 98.9%);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 16px;
}

.button-circle-small{
  width: 30px;
  height: 30px;
  font-size: 11px;
}

.button-circle-medium{
  width: 40px;
  height: 40px;
  font-size: 11px;
}

.toast-message {
  white-space: pre;
}

.logo {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  background: url("../assets/img/logo.svg") no-repeat center center;
  background-size: contain;
}

.logo-margin {
  width: 90%;
  height: 40%;
  margin: 15% auto 5% auto;
  background: url("../assets/img/logo.svg") no-repeat center center;
  background-size: contain;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  border-width: 0;
}

ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, dark);
}

.bold{
  font-weight: bold;
}

.text-family-light{
  font-family: 'OpenSansNauLight';
}

.font-12{
  font-size: 12px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-22{
  font-size: 22px;
}

.font-50{
  font-size: 50%;
}

.font-65{
  font-size: 65%;
}

.font-75{
  font-size: 12px;
}

.font-125{
  font-size: 125%;
}

.font-150{
  font-size: 150%;
}

.font-175{
  font-size: 175%;
}

.font-200{
  font-size: 200%;
}

.font-250{
  font-size: 250%;
}

.font-300{
  font-size: 300%;
}

// text colors
.text-white {
  color: #fff;
}

.text-gray {
  color: #3E4B5D;
}

.text-lightgray{
  color: #d8d8d8;
}

.text-black {
  color: black;
}

.text-transparent{
  color: transparent;
}

.text-3E4B5D{
  color: #3E4B5D;
}

.text-4F4F4F{
  color: #4F4F4F;
}

.text-828282{
  color: #828282;
}

.text-FF8B10{
  color: #FF8B10;
}

.text-BDBDBD{
  color: #BDBDBD;
}

.text-filed-radius{
  background: #dbd8d8;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  border-radius: 100px;
}

ion-app.md [padding], ion-app.md [padding] .padding-no .scroll-content,
ion-app.ios [padding], ion-app.ios [padding] .padding-no .scroll-content{
  padding: 0;
}

.border-bottom-no .list-md .item-block .item-inner,
.border-bottom-no.item-md.item-block .item-inner,
.border-bottom-no .list-ios .item-block .item-inner,
.border-bottom-no.item-ios.item-block .item-inner{
  border-bottom: none;
  padding-right: 0;
}

// .select-left .select-md .select-icon,
//.select-left .select-ios .select-icon{
//  right: 17px;
//}

.border-bottom-no .label-md,
.border-bottom-no .label-ios {
  margin: 0;
}

.border-bottom-no .label-md,
.border-bottom-no .label-ios{
  margin: 0;
}

.button[icon-only] {
  box-shadow: none;
}

.button[icon-only]:active {
  box-shadow: none;
}

.width-25{
  min-width: 25%;
}

.width-50{
  min-width: 50%;
}

.width-75{
  min-width: 75%;
}

.width-100{
  min-width: 100%;
}

.bg-gray{
  border-radius: 100px;
  border: 1px solid #E0E0E0;
}

.bg-gray.item-ios.item-block .item-inner{
  border-bottom: 0;
}

.bg-gray-left{
  border-radius: 100px 0 0 100px;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #828282;
}

.bg-gray-right{
  border-radius: 0 100px 100px 0;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.bg-graylight-right{
  border-radius: 0 100px 100px 0;
  background: #EAEAEA;
}

.bg-graydark-left{
  border-radius: 100px 0 0 100px;
  background: lightgray;
}

.bg-graydark-right{
  border-radius: 0 100px 100px 0;
  background: lightgray;
}

.bg-gray-block{
  border-radius: 20px;
  background: #EAEAEA;
}

.bg-gray-block .item{
  background: transparent;
}

.bg-gray-block .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
.bg-gray-block .item-block:first-child, .list-ios > .item-wrapper:first-child .item-block{
  border: none;
}

.bg-gray-block [item-left], .bg-gray-block [item-start], .bg-gray-block [item-right], .bg-gray-block [item-end], .bg-gray-block .item-ios ion-avatar[item-left], .bg-gray-block .item-ios ion-thumbnail[item-left], .bg-gray-block .item-ios ion-avatar[item-start], .bg-gray-block .item-ios ion-thumbnail[item-start]{
  margin: 4px;
  padding: 4px;
}

.bg-gray-block [item-start] img{
  border-radius: 0;
}

.border-bottom-gray{
  border-bottom: 1px solid #d8d8d8;
}

.label-left{
  padding: 11px 21.5px;
  color: map-get($colors, dark);
}

.item-md, .item-ios{
  padding-left: 0;
}

.icon-large{
  font-size: 50px;
}

.icon-medium{
  font-size: 35px;
}

.icon-small{
  font-size: 20px;
}

.icon-small-s{
  font-size: 10px;
}

.accord-visibility{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.accord-hidden{
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.text-input-ios {
  margin: 0;
  padding: 10.5px;
  width: 100%;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
  margin-left: 0;
  width: 100%;
}

.toolbar-title-ios{
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.toolbar-ios ion-title{
  padding: 0 10px 1px;
}

.btn-add-border-out{
  -moz-outline-radius: 100px;
  outline: 1px dashed #aea9a9;
  outline-offset: 2px;
}

.agm-map-container-inner[_ngcontent-c0]{

}

.list .item-block:first-child {
  border-top: none;
}

.list .item-block:last-child {
  border-bottom: none;
}

.grid-tabs{
  padding: 0;
  background: #b6b6b6;
}

.grid-tabs .col{
  padding: 8px;
}

.grid-tabs .col.active, .grid-tabs .col:active, .grid-tabs .col:hover{
  background: gray;
}

.grid {
  padding: 0;
}

.margin-no{
  margin: 0;
}

.select-ios .select-placeholder{
  color: #828282;
}

.footer.footer-ios {
  border-top: 1px solid #F2F2F2;
  min-height: 86px;
}

.no-border.footer.footer-ios {
  border-top: none;
}

.header{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.toolbar-title-ios{
  color: #333333;
  font-size: 16px;
}

.margin-bottom-small{
  margin-bottom: 5px;
}

.block-lines{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.block-lines-bottom-left-right{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #F2F2F2;
}

.top-block-nau ion-avatar {
  border-radius: 0;
  height: 40px;
}

.top-block-nau [item-end] {
  margin: 0;
}

.top-block-nau .item-ios ion-avatar ion-img, .item-ios ion-avatar img, .item-block-nau .item-ios ion-avatar img{
  border-radius: 0;
  width: inherit;
  height: inherit;
}

.item-block-nau .item{
  margin-bottom: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  padding: 15px;
}

.item-block-nau .input-wrapper .label-ios, .item-block-nau-slider .input-wrapper .label-ios{
  margin: 0;
}

.item-block-nau .input-wrapper ion-label, .item-block-nau-slider .input-wrapper ion-label{
  height: 100%;
}
.item-block-nau-slider .item {
  padding: 15px;
}
.item-block-nau-slider .item-wrapper{
  margin-bottom: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}
