<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'PAGE_BOOKMARKS.BOOKMARKS' | translate }}
        </ion-title>
    </ion-navbar>
    <ion-item padding-left padding-right no-lines class="border-bottom-no top-block-nau">
        <ion-avatar item-start>
            <img src="assets/img/bookmarks/star.svg">
        </ion-avatar>
        <div *ngIf="getTotal() && getTotal() > 0">
            <div class="font-18 text-3E4B5D bold wrap-no">{{ getTotal() }}</div>
            <div class="font-14 text-828282">
                {{ getTotal() >= 10 && getTotal() <= 20
                ? ('PAGE_BOOKMARKS.BOOKMARKS5' | translate)
                : getTotal() % 10 == 1
                ? ('PAGE_BOOKMARKS.BOOKMARK' | translate)
                : (getTotal() % 10 >= 2 && getTotal() % 10 <= 4)
                ? ('PAGE_BOOKMARKS.BOOKMARKS' | translate)
                : ('PAGE_BOOKMARKS.BOOKMARKS5' | translate) }}
            </div>
        </div>
        <div *ngIf="(!getTotal() || getTotal() < 1) && !loadingLocation">
            {{ 'PAGE_BOOKMARKS.YOU_DONT_HAVE' | translate }}
            {{ segment === 'places' ? ('PAGE_BOOKMARKS.PLACES1' | translate) : ('PAGE_BOOKMARKS.OFFERS' | translate) }} {{ 'PAGE_BOOKMARKS.YET' | translate }}
        </div>

    </ion-item>
    <ion-segment padding-left padding-right padding-bottom [(ngModel)]="segment" text-uppercase margin-top class="nau-segment">
        <ion-segment-button value="places">
            {{ 'PAGE_BOOKMARKS.PLACES' | translate }}
        </ion-segment-button>
        <ion-segment-button value="offers">
            {{ 'UNIT.OFFERS2' | translate }}
        </ion-segment-button>
    </ion-segment>
    <div class="header-shadow"></div>
</ion-header>

<ion-content class="padding-no" [ngClass]="{ 'disabled-elements': !getDevMode() && !isForkMode }">

    <!-- PLACES -->
    <ion-list padding-left padding-right *ngIf="segment === 'places'" no-lines class="item-block-nau margin-top-10 block-places">

        <ion-item-sliding *ngFor="let company of companies">
            <ion-item (tap)=" openPlace(company)" class="margin-no">
                <ion-avatar item-start text-center>
                    <div class="thumb_image" [ngStyle]="{'background-image': 'url(' + company.picture_url + '?size=mobile&)'}"></div>
                    <span *ngIf="company.is_featured" text-uppercase class="bold font-12 text-FF5A00 letter-spacing-1">{{ 'PAGE_PLACES.FEATURED' | translate }}</span>
                </ion-avatar>
                <div class="font-0">
                    <ng-container *ngFor="let showStar of getStars(company.stars)">
                        <ion-icon class="text-FEC282 icon-star" name="{{ showStar ? 'star' : 'star-outline' }}"></ion-icon>
                    </ng-container>
                    <img class="icon_people" src="assets/img/user_home/icon_small_user.svg">
                    <span class="font-75 text-828282">{{ company.redemptions_count !== undefined ? company.redemptions_count : company.testimonials_count }}</span>
                    <ng-container *ngIf="getDistance(company.latitude, company.longitude) && getDistance(company.latitude, company.longitude).distance">
                        <img class="icon_arrow" src="assets/img/user_home/icon_small_arrow.svg">
                        <span  class="font-75 text-828282">
                            {{ getDistance(company.latitude, company.longitude).distance }}
                            {{ getDistance(company.latitude, company.longitude).key | translate }}
                        </span>
                    </ng-container>

                    <div class="smooth_transition">
                        <div class="scroll_content margin-top-2vw">
                            <div class="bold font-18 text-3E4B5D">{{ company.name }}</div>
                        </div>
                        <div *ngIf="company.tags && company.tags.length > 0" class="scroll_content margin-top-2vw">
                            <ng-container *ngFor="let tag of company.tags">
                                <span class="type-food">{{ tag.name }}</span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="text-828282 font-12 wrap text-overflow-3 margin-top-2vw">{{ company. description }}</div>
                </div>
                <img *ngIf="company.is_favorite" class="star_right" src="assets/img/place/icon_star.svg">

                <div item-end>
                    <div class="num_right">
                        <div class="font-36 bold text-FF5A00" text-center>
                            {{ company?.active_offers_count }}
                        </div>
                        <div text-center class="font-10 text-828282">
                            {{ company?.active_offers_count == 1
                            ? ('UNIT.OFFER' | translate)
                            : (company?.active_offers_count >= 2 && company?.active_offers_count <= 4)
                            ? ('UNIT.OFFERS2' | translate)
                            : ('UNIT.OFFERS' | translate) }}
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button (click)="removePlace(company)" ion-button class="bg-FF5A00">
                    <img src="assets/img/adv-user-offers/delete.svg">
                    <div text-uppercase class="font-12 regular text-white">{{ 'PAGE_ADV-USER-OFFERS.DELETE' | translate }}</div>
                </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <!-- OFFERS -->
    <ion-list padding-left padding-right *ngIf="segment === 'offers'" margin-top no-lines class="item-block-nau">
        <ion-item-sliding *ngFor=" let offer of offers" class="relative">
        <ion-item (click)="openOffer(offer)" class="margin-no">
            <ion-avatar item-start>
                <!-- <div class="thumb_image" [style.background-image]="offer.picture_url"></div> -->
                <div class="thumb_image" [ngStyle]="{'background-image': 'url(' + offer.picture_url + '?size=mobile&)'}"></div>
            </ion-avatar>
            <div class="smooth_transition">
                <div class="scroll_content">
                    <div class="bold font-18 text-3E4B5D">{{ offer.label }}</div>
                </div>
            </div>
            <div text-regular class="font-12 text-828282 wrap text-overflow-3 margin-top-2vw">{{ offer.description }}</div>
            <img *ngIf="offer.is_favorite" class="star_right" src="assets/img/place/icon_star.svg">
            <!--
            <div class="margin-top-2vw flex">
                <button (click)="openOffer(offer)" ion-button class="btn_transfer font-14 text-white">{{ 'PAGE_PLACE.REDEEM_NOW' | translate }}</button>
                <span class="text-BDBDBD font-18 bold margin-left margin-right plus">+</span>
                <span class="gift extrabold">1</span>
            </div>
            -->
            </ion-item>
                <ion-item-options side="right">
                    <button (click)="removeOffer(offer)" ion-button class="bg-FF5A00">
                        <img src="assets/img/adv-user-offers/delete.svg">
                        <div text-uppercase class="font-12 regular text-white">{{ 'PAGE_ADV-USER-OFFERS.DELETE' | translate }}</div>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
    </ion-list>

</ion-content>
