page-bookmarks{
  .btn_transfer.item-button{
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    border-radius: 12px;
  }

  .item-block-nau.block-places .item-ios [item-right], .item-ios [item-end]{
    width: 33px;
  }

  .block-offers{
    display: none;
  }

    .item-block-nau .item-ios [item-right], .item-ios [item-end]{
        width: 33px;
    }

    .star_right {
        position: absolute;
        right: 3%;
        top: 7%;
        width: 5.3vw;
    }

    .text-overflow-35{
        width: 93%;
    }

    .block-places.item-block-nau .item{
        padding: 2vw;
    }

    .item-block-nau .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
        margin: 0 2vw 0 0;
    }
}
