page-splash-news {

    h5 {
        span {
            font-size: 14px;
            display: block;
            float: right;
            line-height: 2.4;
            font-weight: normal;
        }
    }

    img {
        width: 100%;
    }

    
}