page-create-offer {
  .browse {
      border-style: dashed;
      border-width: 1px;
  }

<<<<<<< HEAD
  #map img{
        width: 100%;
      }

    .bcg {
        background: url(../assets/img/arrow-down.png) no-repeat center right 8px;
    }
=======
  #map {
      border-radius: 30px;
  }
<<<<<<< HEAD
>>>>>>> 2b4697425d55ce3ec2de2d27c085465259fb6e5d
=======
>>>>>>> 3ddca8220deafc31ac6992383e474eb136bd7732

}

