page-notifications{
  .btn_search_settings {
    right: 20px;
  }

  .today.item.item-block.item-ios ion-avatar ion-img, .today.item.item-block.item-ios ion-avatar img, .today.item.item-block.item-ios ion-avatar img{
    border-radius: 100px;
  }

  .btn_next.item-button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
    background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
    border-radius: 12px;
  }

  .item-ios.item-block .item-inner{
    padding-right: 0;
  }

}
