page-create-offer-3 {
    .bcg {
        background: url(../assets/img/arrow-down.png) no-repeat center right 8px;
    }

    .select {
        float: left;
        padding-right: 5px;
    }

    .icon {
        line-height: 1.1;
    }

    .item-ios.item-block .item-inner{
        padding-right: 0;
    }

    .progress-block .progress-line-fill{
        width: 58%;
    }

    .note.note-ios{
        margin-right: 40px;
    }

    .select-ios .select-icon {
        display: none;
    }

    agm-map {
        height: 250px;
    }

    .block-map{
        position: relative;
      }

    #marker {
        position: absolute;
        z-index: 111;
        background-color: rgba(255, 139, 16, 0.2);
        background-image: url(../assets/img/create_user_profile/pin.svg);
        background-position: 50% 50%;
        background-size: auto 31px;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
        top: 50px;
        border-radius: 150px;
        pointer-events: none;
      }

    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gm-svpc {
        display: none;
    }
}
