<ion-header>
    <ion-navbar>
        <ion-title>{{( offer.id ? 'PAGE_CREATE-OFFER.EDIT_OFFER' : 'PAGE_CREATE-OFFER.CREATE_OFFER' ) | translate }}</ion-title>
        <ion-buttons end class="padding-right-3vw">
            <button (click)="openCreateOffer4Page()" ion-button icon-only color="dark" class="btn_search">
                <span class="font-12 text-333333 no-bold">{{ 'PAGE_CREATE-OFFER.NEXT' | translate }}</span>
                <ion-icon class="text-828282" name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-list no-lines>
        <p margin>
            <span class="progress-block">
                <span class="progress-line"></span>
                <span class="progress-line-fill"></span>
                <span class="circle fill-first"></span>
                <span class="circle fill-last"></span>
                <span class="circle fill-last"></span>
                <span class="circle fill-last"></span>
                <span class="circle no-fill"></span>
                <span class="circle no-fill"></span>
            </span>
        </p>
    </ion-list>
    <div class="header-shadow"></div>
</ion-header>

<ion-content>

    <div class="text-4F4F4F font-14 margin-bottom-10" text-uppercase margin-top margin-left margin-right>{{ 'PAGE_CREATE-OFFER.WORKING_AREA' | translate }}</div>
    <div class="block-lines">
        <ion-item padding-left class="bg-gray" detail-push>
            <ion-label class="text-3E4B5D font-16 bold">{{ city }}</ion-label>
        </ion-item>
    </div>

    <div class="block-lines">
        <div class="text-4F4F4F font-14" text-uppercase>{{ 'UNIT.SETTING_MAP_RADIUS' | translate }}</div>
    </div>
    <ion-item>
        <ion-range (ionChange)="addMap()" [(ngModel)]="radius" debounce="200" min="5" max="100" pin="true" step="5" color="secondary">
            <ion-label range-left>5</ion-label>
            <ion-label range-right>100</ion-label>
        </ion-range>
    </ion-item>
    <div *ngIf="!coords.lat" class="font-12 text-4F4F4F">{{ 'UNIT.DETECTING_YOUR_LOCATION' | translate }}</div>
    <div *ngIf="coords.lat" class="block-map">
        <div class="leaflet-map" leaflet [leafletOptions]="options" [leafletZoom]="getZoom()" [leafletLayers]="layers">
        </div>
    </div>

    <p margin>
        <button (click)="openCreateOffer4Page()" ion-button block text-uppercase color="primary">{{ 'PAGE_CREATE-OFFER.NEXT' | translate }}</button>
    </p>

</ion-content>