page-user-users{
    .item-block-nau .item{
        position: relative;
    }

  .happy_title{
    width: 85%;
  }

  .right-icon-ref{
    position: absolute;
    right: 4vw;
    top: 5vw;
    height: 7vw;
  }

  .thumb_image{
    border-radius: 100vw;
  }

    .datetime-ios{
        padding: 0;
        font-size: 0;
    }
}
