<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGE_USER-USERS.YOUR_REFERRALS' | translate }}</ion-title>
  </ion-navbar>
    <div class="header-shadow"></div>
</ion-header>

<ion-content padding>
  <ion-item class="border-bottom-no top-block-nau">
    <ion-avatar item-start>
      <img src="assets/img/user_profile/users.svg">
    </ion-avatar>
    <div item-content>
        <div class="font-18 text-3E4B5D bold">{{ total }}</div>
        <div class="font-14 text-828282">{{ 'PAGE_USER-USERS.USERS' | translate }}</div>
    </div>
      <a item-end margin-left class="btn_calendar_user">
          <a><img src="assets/img/user_offers/icon_right.svg">
              <ion-datetime
                doneText="Ok"
                [(ngModel)]="startDate"
                [min]="todayDate | date: 'yyyy-MM-dd'"
                max="2021-12-31">
              </ion-datetime>
          </a>
      </a>
  </ion-item>

  <ion-list margin-top no-lines class="item-block-nau">
    <ion-item *ngFor="let referral of referrals">
      <ion-avatar item-start>
        <div class="thumb_image" [style.background-image]="'url(' + referral.picture_url + '?size=mobile&)'"></div>
      </ion-avatar>
      <div class="happy_title font-18 bold text-3E4B5D padding-bottom-3vw">{{ referral.name }}</div>
      <div text-uppercase class="font-14 text-4F4F4F">
        {{ 'PAGE_USER-USERS.LEVEL' | translate }}: <b>{{ referral.level }}</b>
        <span margin-left>
          {{ 'UNIT.OFFERS' | translate }}: <b>{{ referral.offers_count }}</b>
        </span>
      </div>
      <div class="text-828282 font-14">
        {{ 'PAGE_USER-USERS.REGISTRATION_DATE' | translate }}: {{ referral.created_at.substring(0,10)}}
      </div>
      <img class="right-icon-ref" src="assets/img/user_users/icon_right.svg">
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="page <= lastPage" (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'PAGE_USER-USERS.LOADING_REFERRALS' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
