page-user-users{
  .happy_title{
    position: relative;
  }

  .happy_title img{
    position: absolute;
    right: 0;
    height: 21px;
  }

  .item-block-nau .item-ios ion-avatar img{
    border-radius: 100px;
  }
}
