<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGE_USER-USERS.YOUR_REFERRALS' | translate }}</ion-title>
      <ion-buttons *ngIf="total" class="btn_header" margin-right end>
              <img class="grayscale margin-right-10" src="assets/img/user_profile/users.svg">
              <span class="text-18 text-BDBDBD">
                        {{ total }}
              </span>
      </ion-buttons>
  </ion-navbar>
    <div class="header-shadow"></div>
</ion-header>

<ion-content padding>
  <ion-list margin-top no-lines class="item-block-nau">
    <ion-item *ngFor="let referral of referrals">
      <ion-avatar item-start>
        <div class="thumb_image" [style.background-image]="'url(' + referral.picture_url + '?size=mobile&)'"></div>
      </ion-avatar>
      <div class="happy_title font-18 bold text-3E4B5D">{{ referral.name }} ({{referral.invite_code}})</div>
      <div text-uppercase class="font-14 text-4F4F4F margin-top-2vw">
        {{ 'PAGE_USER-USERS.LEVEL' | translate }}: <b>{{ referral.level }}</b>
        <span margin-left>
            {{ referral.offers_count >= 10 && referral.offers_count <= 20
            ? ('UNIT.OFFERS' | translate)
            : referral.offers_count % 10 == 1
            ? ('UNIT.OFFER' | translate)
            : (referral.offers_count % 10 >= 2 && referral.offers_count % 10 <= 4)
            ? ('UNIT.OFFERS2' | translate)
            : ('UNIT.OFFERS' | translate) }}:
          <b>{{ referral.offers_count }}</b>
        </span>
      </div>
      <div class="text-828282 font-14 margin-top-2vw">
        {{ 'PAGE_USER-USERS.REGISTRATION_DATE' | translate }}: {{ referral.created_at.substring(0,10)}}
      </div>
        <!--
      <img  class="right-icon-ref" src="assets/img/user_users/icon_right.svg">
      -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="page <= lastPage" (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'PAGE_USER-USERS.LOADING_REFERRALS' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<!--
<div *ngIf="segment === 'invite'">
    <div>
        <div text-center margin-bottom><img class="envelope" src="assets/img/user_users/envelope.svg"></div>
    </div>
    <div margin-bottom class="text-3E4B5D font-14">{{ 'PAGE_USER-USERS.NAU_IS_THE_ONLY' | translate }}</div>
    <div class="text-3E4B5D font-14">{{ 'PAGE_USER-USERS.A_LIFETIME' | translate }}</div>

    <div margin-top margin-bottom text-uppercase class="font-14 text-4F4F4F">{{ 'PAGE_USER-USERS.SHARE_YOUR_INVITE_LINK' | translate }}</div>
    <ion-item class="bg-gray label-copy">
        <span class="text-3E4B5D font-16 bold">{{ user.invite_code }}</span>
        <a item-end>
            <ion-icon (click)="copyInvCode()" class="text-FF5A00" name="ios-copy"></ion-icon>
        </a>
    </ion-item>

    <div margin-top>
        <button (click)="shareInvite()" color="primary" ion-button block>{{ 'PAGE_USER-USERS.INVITE_FRIENDS' | translate }}</button>
    </div>
</div> -->
</ion-content>
