page-adv-user-profile {
    .cover{
        background-image: url(../assets/img/place/header.png);
    }

    .block-icon-bottom img {
        height: 9.4vw;
        width: auto;
        margin-bottom: 3vw;
    }

    .block-slider{
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        height: 31.4vw;
    }

    .block-slider .row{
        height: 100%;
    }

    .block-slider .item-ios ion-avatar img{
        height: 17vw;
        width: 17vw;
        border-radius: 0;
        margin-left: 4vw;
    }

    .block-slider ion-list {
        padding: 2vw;
    }

    .list-ios{
        margin: 0;
    }

    .text-overflow-35 {
        max-height: 11vw;
    }

    .btn_transfer{
        position: absolute;
        bottom: -6.3vw;
        right: 4.8vw;
        background: linear-gradient(180deg, #FF8A0E 0%, #FF5A00 100%);
        border-radius: 100vw;
    }
}
