page-user-achieve{
    .progress-bar-content{
        width: 100%;
        background: #F2F2F2;
        position: relative;
        height: 2.3vw;
        border-radius: 100vw;
    }

    .progress-bar-level{
        width: 40%;
        background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 100vw;
    }

    .top-block-nau .star_right {
        top: 0;
        right: 0;
    }

  .flex span{
    margin: auto;
  }

  .top-block-nau {
    overflow: visible;
  }

  .top-block-nau ion-avatar{
    height: inherit;
  }

    .user_level{
        position: absolute;
        right: -4vw;
        bottom: -4vw;
        border-radius: 100vw;
        height: 10vw;
        width: 10vw;
        background: linear-gradient(90deg, #FF5A00 0%, #FF8A23 100%);
    }

    .top-block-nau.item-ios ion-avatar .thumb_image{
        border-radius: 100vw;
        width: 15vw;
        height: 15vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .top-block-nau.item-ios ion-avatar {
        margin: 0 5vw 0 0;
    }

    .top-block-nau .star_right img{
        height: 7.7vw;
        width: auto;
    }

    .card{
        height: 5vw;
        width: auto;
    }

    .item-block-nau.list.list-ios{
        margin: 0;
    }

    .item-block-nau .item-ios ion-avatar img{
        height: 12vw;
        width: auto;
    }

    .item-block-nau ion-avatar {
        width: 17vw;
        margin: 0;
        text-align: center;
    }

    .item-block-nau ion-avatar img {
        height: 12vw;
        width: auto;
        display: inline;
    }
}
