page-user-achieve{
  .progress-bar-content{
    width: 100%;
    background: gray;
    height: 10px;
    position: relative;
    border-radius: 10px;
  }

  .progress-bar-level{
    width: 40%;
    background: lightgray;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px 0 0 10px;
  }

  .block_name{
    position: relative;
    width: 100%;
  }

  .block_name span{
    position: absolute;
    right: 0;
  }
}
