<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGE_USER-OFFERS.YOUR_REDEEMED_OFFERS' | translate }}</ion-title>
  </ion-navbar>
    <div class="header-shadow"></div>
</ion-header>

<ion-content padding>

  <ion-item class="border-bottom-no top-block-nau">
    <ion-avatar item-start>
      <img src="assets/img/user_offers/icon_lock.svg">
    </ion-avatar>
    <div item-content>
       <div class="font-18 text-3E4B5D bold">{{ total }}</div>
       <div *ngIf="total > 0" class="font-14 text-828282">{{ 'PAGE_USER-OFFERS.REDEEMED_OFFERS' | translate }}</div>
    </div>
      <a item-end margin-left>
          <a class="btn_calendar_user">
              <img src="assets/img/user_offers/icon_right.svg">
              <ion-datetime doneText="Ok" [(ngModel)]="startDate" [min]="todayDate | date: 'yyyy-MM-dd'" max="2021-12-31">
              </ion-datetime>
          </a>
      </a>
  </ion-item>

  <ion-list margin-top no-lines class="item-block-nau">
    <ion-item *ngFor="let offer of offers" #item>
      <ion-avatar item-start>
       <!-- <div class="thumb_image" [style.background-image]="'url(' + offer.picture_url + ')'"></div> -->
       <div class="thumb_image" [ngStyle]="{'background-image': 'url(' + offer.picture_url + '?size=mobile&), url(assets/img/imagenotfound.svg)'}" ></div>
      </ion-avatar>
      <div class="bold font-18 text-3E4B5D wrap-no">{{ offer.label}}</div>
      <div class="bold font-14 text-FF8B10 margin-top-2vw" text-uppercase>{{ offer.city }}</div>
      <div class="font-14 text-828282 margin-top-2vw">{{ 'PAGE_USER-OFFERS.DATE' | translate }}: {{ offer.pivot.created_at.substring(0,10) }}</div>
    </ion-item>
  </ion-list>

</ion-content>
